<!--
  Generated template for the ForgatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

    <div class="main" >
    	<h1 class="text"> Create Password</h1>
    	<p class="text1" >Please new Password add kare</p>
    </div>
    <div class="textinput" >
      <ion-item>
        <ion-input [(ngModel)]="RegisterData.password" size="10" maxlength="20"  value="" placeholder="new Password" ng-required></ion-input>
      </ion-item>
      <div class="error" *ngIf="passError==true" >
        {{passErrorMsg}}
     </div>
    </div>
    <div class="textinput" >
      <ion-item>
        <ion-input [(ngModel)]="RegisterData.confirmPassword"  size="10" maxlength="20"  value=""  placeholder="Confirm Password" ng-required></ion-input>
      </ion-item>

      <div class="error" *ngIf="passConpError==true" >
          {{passErrorMsg}}
      </div>
    </div>
      <div  class="p_button" >
      <button class="p_1" (click)="ResetPassword()" type="submit">Submit</button>
    </div>





</ion-content>
