<ion-header>



<ion-navbar hideBackButton="true">
  <div>

       <ion-icon style="float: left"  class="back_icon" name="ios-arrow-round-back" (click)="back()"></ion-icon>
        <ion-title class="title_haed">{{'Profile' | translate}}</ion-title>
       </div>
        
  </ion-navbar>
</ion-header>



<ion-content >
<ion-card>
  <img (click)="uploadeImg()" class="circle-pic" src="{{base64Image}}">
  <div class="colorGrey smallTitle fontBold alignCenter paddingTop"> {{userlogin.display_name}}</div>
  <ion-grid>
 <ion-row class="separator paddingTop paddingBottom paddingRight">
    <ion-col class="colText"> <ion-icon name="call" class="paddingRight colorGrey"></ion-icon> 
      +91 {{userlogin.user_login}}
    </ion-col>
  </ion-row>
  <ion-row class="separator paddingTop paddingBottom paddingRight"  (click)="openPageWithP('changelocation')">
    <ion-col class="colText"><ion-icon name="compass" class="paddingRight colorGrey"></ion-icon>
      {{userlogin.tehsil_name}}, <!-- {{userlogin.userDictName}}, --> {{userlogin.state_name}}
    </ion-col>
    <ion-col class="colText" col-1 >
       <ion-icon name="ios-create-outline" ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="separator paddingTop paddingBottom paddingRight">
    <ion-col class="colText" col-2 ><img  src="assets/img/agri bolo icon/hdpi/plant.png" class="paddingRight">
    </ion-col>
    <ion-col col-9 *ngIf="userlogin.crop_count > 2"  (click)="editcrops()">
      <span >{{userlogin.crops[0].name}}, {{userlogin.crops[1].name}} {{'AND' | translate}} {{userlogin.crop_count-2}} {{'OTHER' | translate}}</span> 
    </ion-col>
    <ion-col col-9 *ngIf="userlogin.crop_count <= 2">
      <span *ngFor="let crop of userlogin.crops">{{crop.name}} </span> 
    </ion-col>
    <ion-col class="colText" col-1 >
       <ion-icon name="ios-create-outline" ></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="block">
<button ion-button block   (click)="openPageWithP('changeprofile')" >{{'EDIT_PROFILE' | translate}}</button>
</div>
<div class="block">
<button ion-button block (click)="openPageWithP('changepass')">{{'CHANGE_PASSWORD' | translate}}</button>
</div>
</ion-card>
</ion-content>