page-item-create {
    .wallet img{
    height: 100%;
    padding: 20%;
    }


    .circle-pic{
    text-align:  center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    }
    .Name{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: #000000;
    padding: 5%;
    }
    .col img{
    height: auto;
    width: auto;
    margin: auto;
    }

    .colText{
    margin-top: auto;
    margin-bottom: auto;
    }
    .password{
    text-align: center;
    color: #649305;
    padding-top: 10%;
    }
    .block button{
    margin-left: 10%;
    text-align: center;
    width: 80%;
    background-color: #649305;
    margin-top: 5%;
    margin-bottom: 5%;

    }

  
}
