<!--
  Generated template for the MandiDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title >{{'MANDI' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="headericon" (click)="showFilter()">
        <img src="assets/img/agri bolo icon/hdpi/filter.png">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="{{toolbarClass}}" *ngIf="topMenu">
  <ion-row class="gridRow" >

      <ion-col class="backgroundColorWhite" (click)="openFilter()">  
        <button ion-button clear>CHANGE LOCATION</button>
      </ion-col>
      
      <ion-col class="backgroundColorWhite" (click)="openCropFilter()">
        <button ion-button clear>CHANGE CROP</button>
       
      </ion-col>

  </ion-row>
  </div>
</ion-header>


<ion-content>


<div class="maindiv" *ngFor="let data of mandiData.data; let i=index " >
  

   <ion-grid>
      <ion-row>
      <ion-col class="cardHeader">
          <div class="headerClass">{{data.market_name}} </div>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-slides  [slidesPerView]="'1.08'" >
  <ion-slide pager *ngFor="let subData of data.market_data; let in=index " >

    <ion-card  class="">
      <ion-grid  >
         <ion-row>
    <ion-col col-3 >

      <img src="{{subData.image}}" class="grapImage"/>
    </ion-col>
    
  <ion-col col-9>
      <div>
        <div class="MandiTitle">{{subData.commodity_name}}</div>

      </div>

      <div class="MandiPrice">₹ {{subData.min_price}} - {{subData.max_price}}</div>
      <ion-row class="MandiUnit">
        <div >{{'PER_QUINTAL' | translate}} | {{subData.arrival_date}}</div>

      </ion-row>
    </ion-col>

  </ion-row>
      <ion-row>
      
                   <ion-spinner *ngIf="!subData.graph_price" name="dots"></ion-spinner>
      <canvas *ngIf="subData.graph_price" baseChart style="width:100%; height: 100%; overflow: hidden; border: none;"
                [datasets]="[{data: subData.graph_price}]"
                [labels]="subData.graph_months"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
                  
                </canvas>
   
      </ion-row>
        <ion-grid>
    <ion-row class="weatherfoter">
      <ion-col col-5 class="sources">
      <ion-row>
      <div class=" litleHeadline colorBlack" >{{'AVERAGE' | translate}} : {{subData.avg}}</div>
      </ion-row>
      </ion-col>
      <ion-col col-7 class="sources">
       <ion-row>
      <div class="litleHeadline  colorBlack" >{{'ARRIVEL' | translate}} : {{subData.arrival_date}}</div>
      </ion-row>
      </ion-col>
    </ion-row>
    </ion-grid>
      </ion-grid>
    </ion-card>
  </ion-slide>
</ion-slides>
</div>
</ion-content>
