

page-login {
	.main {
	margin-top: 15%;
}
.text{
	text-align:center;
	 font-size: 27px;

}
.text1{
    text-align: center;
    width: 80%;
    font-size: 19px;
    margin: auto;
    color:#5f8b05;

}
.inpu{
	 color:#5f8b05!important;

}
.p_button{
	width:100% !important;
	margin:auto;
	color:#5f8b05;
	margin-top:20px;
    text-align: center;
}
.p_1{
	width: 75%!important;
	
    height: 41px;
    
    font-size: 15px;
    color: #ffffff;	
}
.sing{
	text-align: center;
    margin-top: 20px;   
    text-align: center;

}
.sing1{
    text-align: center;
    width: 80%;
    font-size: 13px;
    margin: auto;
    color: #5f8b05;

}
}
