page-login {
	.main {
	margin-top: 20%;
}
.text{
	text-align:center;
	 font-size: 27px;

}
.text1{
    text-align: center;
    width: 80%;
    font-size: 19px;
    margin: auto;
    color:#5f8b05;

}
.inpu{
	 color:#5f8b05!important;

}
.p_button{
	width:100% !important;
	margin:auto;
	color:#5f8b05;
	margin-top:20px;

}
.p_1{
	width: 75%!important;
	margin-left:30px;
    background: #5f8b05;
    height: 41px;
    margin-left: 10%;
    font-size: 15px;
    color: #ffffff;	
}
.sing{
	text-align: center;
    margin-top: 20px;

}
.sing1{
    text-align: center;
    width: 80%;
    font-size: 13px;
    margin: auto;
    color: #5f8b05;

}
}
