

<ion-content>
 <div class="main" padding>
  <h1 class="text">{{'LOGIN_TEXT' | translate}}</h1>
</div>
<div>

 <ion-item>
    <ion-label class="inpu" stacked>{{'LOGIN_PHONE_NUMBER' | translate}}</ion-label>
    <ion-input [(ngModel)]="RegisterData.user_name" name="user_name" value="" type="number"></ion-input>
 </ion-item>
 <div class="error" *ngIf="userMobilNoError==true" >
    {{'LOGIN_PHONE_NUMBER_VALID' | translate}}
 </div>

  <ion-item>
    <ion-label class="inpu" stacked>{{'SING_UP_TYPE_PASSWORD' | translate}}</ion-label>
    <ion-input [(ngModel)]="RegisterData.userPassword" name="password" value="" type="password" ng-required></ion-input>
  </ion-item>
  <div class="error" *ngIf="UserPassError==true" >
    {{'LOGIN_PASSWORD_REQUIRED' | translate}}
  </div>

</div>
<div  class="p_button">
    <button class="p_1" (click)="doLogin()" >  {{'SING_UP_GOOD' | translate}} </button>
  </div>
  <div  class="sing" (click)="singUp()">
    <p class="sing1">
      {{'LOGIN_NEW_USER_SING_UP' | translate}}
    </p>
  </div>
</ion-content>

<div class="background">
    <div id="sun">
        <div id="sunbg"></div>
    </div>
    <i class="fa fa-cloud" id="cloud1"></i>
    <i class="fa fa-cloud" id="cloud2"></i>

    <img id="radio" src="assets/img/radio_control.png" />

    <div id="village">
        &nbsp;
    </div>
    <div id="tractor">
        <img src="assets/img/fan.png" class="fa-spin" id="fan"/>
        <img src="assets/img/shape.png" id="tower"/>

    </div>
    <div id="grass">
    </div>
</div>
