<!--  
  Generated template for the ETirdingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>{{'E-TRADIND'| translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="headericon" (click)="dismiss()">
        <ion-icon ios="ios-close" md="md-close" class="colorGreen paddingRightdisplayOneFont"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <form  *ngIf="pageTitle=='onstorageload'" [formGroup]="changemarket" (ngSubmit)="filterLocaltionForm()">
  <ion-card>
      <div>
          <div class="smallTitle colorGrey fontBold greySeparator paddingBottom paddingTop alignCenter"></div>
      </div>
      <ion-item class="separator colorGrey">
        <ion-label>{{'CROP'| translate}}</ion-label>
         <ion-select   formControlName="etrading_crop" #etrading_crop (ionChange)="onCropSelect(etrading_crop.value)">
          <ion-option *ngFor="let crop of cropList" value={{crop.id}}>{{crop.name}}</ion-option>
        </ion-select>
       </ion-item>
     
      <ion-item class="separator colorGrey">
        <ion-label>{{'VERIETY'| translate}}</ion-label>
        <ion-select  formControlName="etrading_varieties">
          <ion-option  *ngFor="let varieties of varieties_List" value={{varieties.id}}>{{varieties.improved_varieties}}</ion-option>
        </ion-select>
      </ion-item>
       <ion-item class="separator colorGrey">
       <ion-label  stacked>{{'QUANTITY'| translate}}</ion-label>
        <ion-input   formControlName="etrading_quantity" type="number"></ion-input>
      </ion-item>
      <ion-item class="separator colorGrey">
        <ion-label>{{'QUANTITY'| translate}} Unit</ion-label>
         <ion-select   formControlName="etrading_quantity_unit" >
          <ion-option  value='Quintal'>Quintal</ion-option>
          <ion-option  value='Kg'>KG</ion-option>
        </ion-select>
       </ion-item>
       <ion-item class="separator colorGrey">
        <ion-label  stacked>{{'EXCEPT_PRICE'| translate}}</ion-label>
        <ion-input   formControlName="etrading_prices" type="number"></ion-input>
        </ion-item>
       <ion-item class="separator">
      <ion-label class="colorGrey">{{'SELECT_LOCTION_STATE' | translate}}</ion-label>
        <ion-select   formControlName="user_state_id" #user_state_id (ionChange)="onStateSelect(user_state_id.value)">
          <ion-option *ngFor="let state of stateList" value={{state.id}}>{{state.state_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator">
      <ion-label class="colorGrey">{{'SELECT_LOCTION_DISTRICT' | translate}}</ion-label>
        <ion-select  formControlName="user_district_id" #user_district_id (ionChange)="onDistrictSelect(user_district_id.value)">
          <ion-option *ngFor="let district of districtList" value={{district.id}}>{{district.district_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator" >
      <ion-label class="colorGrey">{{'SELECT_LOCTION_TEHSIL' | translate}}</ion-label>
        <ion-select   formControlName="user_tahsil_id" >
          <ion-option *ngFor="let tehsil of tehsilList" value={{tehsil.id}}>{{tehsil.tehsil_name}}</ion-option>
        </ion-select>
     </ion-item>
      <ion-item>
    <ion-label  class="inpu" stacked>{{'ADDRESS'| translate}}</ion-label>
    <ion-input   formControlName="etrading_address" type="text"></ion-input>
  </ion-item>
      <div  class="p_button margin-top" style="float: right">
                <button class="p_1" ion-button  (click)="dismiss_cancel()" clear>{{'CANCEL' | translate}}</button>
            </div> 

            <div  class="p_button" style="float: right">
              <button class="p_1" ion-button type="submit" [disabled]="!changemarket.valid">Submit</button>
          </div>
    </ion-card>
    </form>
</ion-content>
   <!--   <ion-input (keyup)="getItems(etrading_crop.value)" #etrading_crop formControlName="etrading_crop" type="text"  ></ion-input> -->
      <!-- <ion-item class="separator colorGrey">
        <ion-label>crops</ion-label>

      <ion-input formControlName="etrading_crop_id" type="hidden"  ></ion-input>

      </ion-item> --> 

 <!--  <ion-list>
    <button ion-item *ngFor=" let item of currentItems " (click)="openItem(item.name,item.id)">
      <h2>{{item.name}}</h2>
      <p>{{item.crop_type}}</p>
      <!-- <ion-note item-end *ngIf="item.content">{{item.content}}</ion-note> -->
   <!--  </button>
  </ion-list> --> 
