page-quitionview {
	.agrotitle{
	  color:#649305;
	}
	.agrodatetitle{
  		font-size: 1.2rem;
	}
	.block button{
	    margin: auto;
	    text-align: center;
	    width: 87%;
	    background-color: #649305;
	    margin-top: 5%;
	    margin-bottom: 5%;
	    height: 47px !important;
	    font-size: 17px !important;
	}
	.block{
	    width: 100%;

	}
}
