page-rental-detail {
.wallet img{
    height: 100%;
  padding: 20%;
  }
  .pClass{
    padding-left: 5% !important;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 22px;
    color: #000000;
    font-weight: bold;
  }
  .pContent{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;

  }
  .block button{
      margin-left: 5%;
      text-align: center;
      width: 90%;
      background-color: #649305;
      margin-top: 10%;
      margin-bottom: 10%;

    }
}
