<!--
  Generated template for the RentalDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="fulldark">
    <ion-title>{{'RENTAL_DETAIL_TITLE' | translate}}</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="Rental_detaildata.status==true">
    <ion-col col-4>
      <img class="paddingLeft paddingTop" src="{{Rental_detaildata.data[0].image}}"/>
    </ion-col>
    <ion-col col-8>
      <div class="smallTitle fontBold paddingTop paddingLeft colorGrey">    {{Rental_detaildata.data[0].title}}
      </div>
      <!-- <div class="paddingLeft colorGrey"  >
          {{Rental_detaildata[0].brand}}
        </div> -->
        <div class="paddingLeft colorGreen" >
          {{Rental_detaildata.data[0].created_at}}
        </div>

    </ion-col>
  </ion-row>

  <ion-row  justify-content-center>
    <div class="paddingTop" >
      <a style="text-decoration: none;" class="buttonClass"  (click)="openFilter(Rental_detaildata.data[0].id)">
      {{'RENTAL_CONTACTS' | translate}}
      </a>

    </div>
  </ion-row>
<ion-row>
  <div class="fullWidth separator">
    <div class="paddingLeft colorGrey">
      <ul *ngIf="Rental_detaildata.status==true">
        <li  >{{Rental_detaildata.data[0].description}}</li>
      </ul>
    </div>
  </div>
</ion-row>
<ion-row *ngIf="Rental_detaildata.status==true">
  <ion-row >
    <div class="paddingLeft smallTitle fontBold colorGrey paddingTop paddingBottom">{{'SPECIFICATIONS' | translate}}</div>
  </ion-row >
  <ion-row  *ngIf="Rental_detaildata.data[0].model_name!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'MODEL_NAME' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].model_name}}
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="Rental_detaildata.data[0].engine_type!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'ENGINE_TYPE' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].engine_type}}
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="Rental_detaildata.data[0].weight_kg!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'WIEGHT' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].weight_kg}}
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="Rental_detaildata.data[0].working_width!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'WORKING_WIDTH' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].working_width}}
    </ion-col>
  </ion-row>
  <ion-row  *ngIf="Rental_detaildata.data[0].address!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'ADDRES' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].address}}
    </ion-col>
  </ion-row>

  <ion-row  *ngIf="Rental_detaildata.data[0].quantity!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'QUANTITY' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].quantity}}
    </ion-col>
  </ion-row>


  <ion-row  *ngIf="Rental_detaildata.data[0].price!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'PRICE' | translate}}
    </ion-col>
    <ion-col col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].price}}
    </ion-col>
  </ion-row>

<ion-row  *ngIf="Rental_detaildata.data[0].date_from!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'DATE_FROME' | translate}}
    </ion-col>
    <ion-col  col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].date_from}}
    </ion-col>
  </ion-row>

  <ion-row  *ngIf="Rental_detaildata.data[0].date_to!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
     {{'DATE_TO' | translate}}
    </ion-col>
    <ion-col  col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].date_to}}
    </ion-col>
  </ion-row>
  
   <ion-row  *ngIf="Rental_detaildata.data[0].time_from!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
     {{'TIME_FROM' | translate}}
    </ion-col>
    <ion-col  col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].time_from}} 
    </ion-col>
  </ion-row>

  <ion-row  *ngIf="Rental_detaildata.data[0].time_to!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'TIME_TO' | translate}}
    </ion-col>
    <ion-col  col-7 class="marketViewGridContent">
      {{Rental_detaildata.data[0].time_to}}
    </ion-col>
  </ion-row>
  
  <ion-row  *ngIf="Rental_detaildata.data[0].units!=''" class="fullWidth paddingLeft paddingRight">
    <ion-col col-5 class="marketViewGridTitle">
      {{'DURATION' | translate}}
    </ion-col>
    <ion-col *ngIf="Rental_detaildata.data[0].units =='daily'" col-7 class="marketViewGridContent">
      {{'DAILY' | translate}}
    </ion-col>
    <ion-col *ngIf="Rental_detaildata.data[0].units =='hourly'" col-7 class="marketViewGridContent">
      {{'HOURLY' | translate}}
    </ion-col>
  </ion-row>
</ion-row>
 <div col-12 style="position: fixed; top:80%">
    <a  (click)="mackCall()" >
    <button ion-button  class="{{aniName}} buttonOnClose buttonGreen"  style="margin-right:10px;">
      <ion-icon name="call" class="displayOneFont" style="padding-left: 55px; padding-right:15px"></ion-icon>
      <div  class="{{textSlide}} smallTitle" style="opacity: 0;">
        {{'CLICK_TO_CALL' | translate}}
    </div>
     </button>
     </a>
  </div>
</ion-content>


