page-rental-detail {
    .wallet img{
    height: 100%;
    padding: 20%;
    }
     .p_button{
    width:100% !important;
    margin:auto;
    color:#5f8b05;
    margin-top: 10%;
    margin-bottom: 10%;
    }
    .p_1{
    width: 49%!important;
    background: #5f8b05;
    height: 41px;
    margin-left: 22%;
    font-size: 15px;
    color: #ffffff; 
    }

    .pClass{
    padding-left: 5% !important;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 22px;
    }
    .pContent{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;

    }
    .block button{
    margin-left: 5%;
    text-align: center;
    width: 90%;
    background-color: #649305;
    margin-top: 10%;
    margin-bottom: 10%;

    }
    .fixImage{
    width:100%;
    }
    .buttonOnClose{
        height: 55px;
        width: 55px;
        left: 82%;
        top: 80%;
        border-radius: 30px;
        float: right;
    }
    .openCallButton {       
        animation-duration: 2s;
        float: right;
        border-radius: 30px;
        animation: buttonOpen 1s ease-in-out;
        animation-fill-mode: forwards;
      }
    @keyframes buttonOpen {
        0% { 
            opacity: 1;
            width: 55px;
            /* transform: translate(0, 0); */
         }
        100% {
             opacity: 1;
            width: 300px;
            /* transform: translate(-100%, 0); */
        }
    }

    .closeCallButton {      
        animation-duration: 2s;
        float: right;
        border-radius: 30px;
        animation: buttonClose 1s ease-in-out;
        animation-fill-mode: forwards;
      }
    @keyframes buttonClose {
        0% { 
            opacity: 1;
            width: 300px;
            /* transform: translate(0, 0); */
         }
        100% { 
            opacity: 1;
            width: 55px;
            /* transform: translate(-100%, 0); */
        }
    }
    
    .fadeInLeftMarket {
        animation: fadeInLeftM 1s;
        transition-duration: 1s;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
      }
      @keyframes fadeInLeftM {
        from {
          opacity: 0;
          transform: translate3d(100%, 0, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }
      .textGoingBack {
        animation: textClose 1s;
        transition-duration: 1s;
        animation-fill-mode: forwards;
      }
      @keyframes textClose {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
           transform: translate3d(100%, 0, 0);
        }
      }
}
