<!--
  Generated template for the ProductlistviwePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ProductViewDatas.data.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	   <ion-row  style="height: 30%; ">
			<ion-col *ngIf="ProductViewDatas.data.stock_status=='out_of_stock'" col-4>
				<img style="min-height: 150px; max-height: 150px;opacity: 0.5;"  src="{{ProductViewDatas.data.feature_image}}"/>
			</ion-col>
			<ion-col *ngIf="ProductViewDatas.data.stock_status!='out_of_stock'" col-4>
				<img style="min-height: 150px; max-height: 200px;"  src="{{ProductViewDatas.data.feature_image}}"/>
			</ion-col>
			<ion-col col-7>
				<div class="smallTitle fontBold colorBlack paddingbutom_pro">{{ProductViewDatas.data.name}}
				</div>
				<div class="smallTitle fontBold colorBlack paddingbutom_pro" style="color:#5f8b05">
					₹{{ProductViewDatas.data.selling_price}}
				</div>
			   	<div *ngIf="ProductViewDatas.data.stock_status=='in_stock'" class="paddingTop fontBold in_stock" >
		        {{'IN_STOCK' | translate}}
			   	</div>
			   	<div *ngIf="ProductViewDatas.data.stock_status=='out_of_stock'"  class="paddingTop out_stock " >
		        {{'OUT_OF_STOCK' | translate}}
			   	</div>
			   	<div *ngIf="ProductViewDatas.data.stock_status=='coming_soon'"  class="paddingTop coming_soon " >
		        {{'COMING_SOON' | translate}}
			   	</div>
			</ion-col>
		</ion-row>
  <ion-row  *ngIf="ProductViewDatas.status==true">
	<div class="separator" >
		<div class="paddingTop paddingLeft colorGrey paddingBottom Headline">
			{{ProductViewDatas.data.description}}	
		</div>
	</div>
  </ion-row>
<!-- <ion-row>
	<div class="smallTitle fontBold colorBlack paddingbutom_pro paddingTop paddingLeft" >Place Order Now</div>
	<div class="paddingLeft colorGrey Headline paddingTop" >Place your order now and speak with our customer representative for speedy delivery</div>
		
	</ion-row>	 -->
	<div *ngIf="ProductViewDatas.data.stock_status=='in_stock'">
	<ion-row *ngIf="ProductViewDatas.data.all_sku!=''"  >
		<ion-col col-6>
        	<ion-label class="colorGrey floatLeft font20">{{'CHOOSE_WEIGHT' | translate}}</ion-label>
        </ion-col>	
		<ion-col col-4>        	
 		    <ion-select #wieght (ionChange)="changesku(wieght.value)" >
		       <ion-option value="{{ProductViewDatas.data.sku}}" selected="true">{{ProductViewDatas.data.weight}} {{ProductViewDatas.data.uom}}</ion-option>
		       <ion-option *ngFor="let skuall of ProductViewDatas.data.all_sku" value="{{skuall.sku}}">{{skuall.weight}} {{ProductViewDatas.data.uom}}</ion-option>
		    </ion-select>
	     </ion-col>
	</ion-row>
    <ion-row >
		<ion-col col-6>
		    <ion-label  class="padding_Left floatLeft font20"  >{{'CHOOSE_QUANTITY' | translate}}</ion-label>
		</ion-col>
		<ion-col col-6>	 
		  <ion-row class="paddingTop8px paddingLeft">
		<ion-col col-1 >
		 <ion-icon class=" floatRight"  name="remove" (click)="min()"></ion-icon>
		 </ion-col>
		 <ion-col col-2 style="border:1px solid grey">
		 <div class="alignCenter font10">{{quantity}}</div>
		 </ion-col>
		 	<ion-col col-1>
	       <ion-icon  class="floatLeft" name="add" (click)="add()"></ion-icon>
	       </ion-col>
	       </ion-row>
		</ion-col>
	</ion-row>
  	<ion-row  class=" separator ">
		<ion-col col-6 >	
			<div style="float: right;margin-right: 20px;"> 
	       		<button   ion-button type="submit" (click)="OrderBuyConfirm(ProductViewDatas.data.sku)">
	       			<span  style="font-size: 17px;" >{{'BUY_NOW' | translate}}</span>
	       		</button>
	       	</div>
	  	</ion-col>
	    <ion-col col-6>
	  	  	<div class=" colorGreen paddingTop font20"  style="float: left;padding-top: 10px;" (click)="AddtoChart(ProductViewDatas.data.sku)">{{'ADD_TO_CART' | translate}}</div>
	  	</ion-col>
	</ion-row>
	</div>
	<ion-row  *ngIf="ProductViewDatas.data.stock_status=='out_of_stock'" justify-content-center>
	   	<div class="paddingTop" >
	   		<a style="text-decoration: none;" class="buttonClass"  (click)="openFilter()">
        {{'NOTIFY_ME' | translate}}
        </a>

	   	</div>
	</ion-row>	
	<ion-row *ngIf="ProductViewDatas.status==true">
		<ion-row >
			<div class="paddingLeft smallTitle fontBold colorBlack paddingTop paddingBottom">{{'SPECIFICATIONS' | translate}}</div>
		</ion-row >
		<ion-row *ngFor="let ProductDetail of ProductViewDatas.data.alldetail, let i = index " class="fullWidth paddingLeft ">
			<ion-col col-5 class="marketViewGridTitle">
				{{ProductDetail.label}}
			</ion-col>
			<ion-col col-7 class="marketViewGridContent">
				{{ProductDetail.value}}
			</ion-col>
		</ion-row>
	</ion-row>
	<div col-12 style="position: fixed; top:80%;z-index: 999999;">
		<a (click)="mackCall()" >
		<button ion-button  class="{{aniName}} buttonOnClose buttonGreen"  style="margin-right:20px;">
	  	<ion-icon name="call" class="displayOneFont" style="padding-left: 55px; padding-right:15px"></ion-icon>
	  	<div  class="{{textSlide}} smallTitle" style="opacity: 0;">
	  		{{'CLICK_TO_CALL' | translate}}
		</div>
	   </button>
	   </a>
	</div>

<!---*******Krishi Jannkari Section******-->
<ion-grid *ngIf="ChildCatProducts.data.length > 0" >
   <ion-row>
      <ion-col class="krishisevayen-cardHeader">
         <div class="headerClass">{{'RELATED_PRODUCTS' | translate}}</div>
      </ion-col>
   </ion-row>
</ion-grid>
<ion-slides  *ngIf="ChildCatProducts.data.length > 0" [slidesPerView]="'auto'">
   <ion-slide class="slideItem" *ngFor="let productData of ChildCatProducts.data;" >
      <ion-card (click)="gotoProductViewPage(productData.id)">
         <img class="produtimage" src="{{productData.feature_image}}"/>
         <div class="title colorGrey Headline">{{productData.name}}</div>
         <div class="detailSar colorGreen smallTitle" > 
            <a style="text-decoration: none;">
            	{{productData.selling_price}}
            </a>
         </div>
      </ion-card>
   </ion-slide>
</ion-slides>
</ion-content>
 