page-filter-crops {
	.content-md{
		background-color: #FFFFFF;
	}
	.item-md.item-block .item-inner{
		border:0px;
	}
	.minWidth{
		min-width: 50%;
	}
	.item.item-md .checkbox-md{
		margin: 3px;
	}
	
}
