page-cropsuodate {
	.content-md{
		background-color: #ffffff;
	}
	.lableName{
	    font-size: 12px;
	}
	.mainCheck{
	  margin: 5%;
	  max-height: 30%;
	  border: 1px solid #f00;
	}
	.dimen{
	  max-width: 60%;
	  text-align: center;
	  padding-left: 10%;
	}
	.title{
	text-align: center;
	}
	.imagc{
	  border-radius: 50%;
	  border: solid grey 1px #dbdbdb;
	  text-align: center;
	  
	  padding: 10%;
	}
	.nextC{
	  border-radius: 50%;
	  border: solid grey 1px #dbdbdb;
	  text-align: center;
	  background-color: #dbdbdb;
	  padding: 10%;
	}
	.nextC.activated{
	  background-color: #101c00;

	}
	.imagc img{
	  height: auto;
	  width: auto;
	}
	.textCol{
	  text-align: center;
	}


	.checkbox{
	  float: left;
	  height: 90%;

	}
	.item.item-md .checkbox-md{
		margin: 3px;
	}
	p.titleName{
	  margin-left: 5px important;
	}
	.titlename{
		padding-left:0px;	
	}
	.minWidth{
		min-width: 50%;
	}
	.mainClass{
		width: 50%;
	}
	.paddingFooterButton{
		padding: 5px;
	}
}
