<!--
  Generated template for the CropsuodatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content scroll="false">

<div class="title paddingTop paddingRight paddingLeft paddingBottom smallTitle fontBold"> {{'CROPS_TITLE' | translate}}</div>
<ion-row >
  <ion-col   col-6 (click)="addEvent('Kharif');" class="alignCenter">
    <img class="dimen" src="assets/img/{{kharifImage}}"/>
 
    <div class="displayOneFont alignCenter"> {{'VEDIO_SEEDS' | translate}}</div>
 
  </ion-col>
  <ion-col class="alignCenter" col-6 (click)="addEvent('Horticulture');">
    <img   class="dimen" src="assets/img/{{hortiImage}}" />
     <div class="displayOneFont alignCenter">{{'CROPS_FRUITE' | translate}}</div>
  </ion-col>
</ion-row>

<ion-scroll scrollY="true" style="width: 100%; height: 50%; background: #ffffff">
<ion-row >
  <ion-col *ngFor="let item of cropList ; let i = index " class="minWidth">
      <ion-item *ngIf="(item.crop_type == 'Kharif' || item.crop_type == 'Rabi') && shoPage == 'Kharif'"  col-6 class="mainClass">
        
      <ion-label class="titleFont ">{{item.name}}</ion-label>
      <ion-checkbox (click)="addValue(i,j)"></ion-checkbox>
    
      <!--   <input type="checkbox" [checked]=" item.sub_type == 'true' ? true : false" ng-model="item.name" (ionChange)="updateLocalStorage()" (click)="addValue(i)" class="checkbox" />
        <div class="titleName titleFont" >{{item.name}}</div> -->
      </ion-item>
      <ion-col *ngIf="item.crop_type == 'Horticulture' && shoPage == 'Horticulture'"  col-6 class="mainClass">
        <ion-item no-lines class="titlename">
      <ion-label class="titleName titleFont ">{{item.name}}</ion-label>
      <ion-checkbox (click)="addValue(i,j)"></ion-checkbox>
    </ion-item>
      </ion-col>
  </ion-col>
</ion-row>
</ion-scroll>

<button class="buttonGreen" (click)="selected()" ion-button block >{{'SING_UP_GOOD' | translate}}</button>
</ion-content>

