

<ion-header>
  <ion-navbar>
    <ion-title>{{'CHOPAL' | translate}}</ion-title>
  </ion-navbar>
  <ion-item>
    <ion-label>{{'SELECT_RANGE_CHOUPAL' | translate}}</ion-label>
    <ion-select  [(ngModel)]="choupal_distance" (ionChange)="onChange(choupal_distance)">
      <ion-option  value="30">30 KM</ion-option>
      <ion-option  value="50">50 KM</ion-option>
      <ion-option  value="100">100 KM</ion-option>
      <ion-option  value="200">200 KM</ion-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>
  <ion-scroll #chatScroll scrollX="true" scrollY="true" maxZoom="3" zoom="1" style="height:100%">
      <ion-list >
            <div  *ngFor="let data of choupaldata.data;let i=index " style=" border-radius: 5px; margin:10px;  ">
            <div class=" fullWidth" >
              <ion-row class=" boxAlignLeft " *ngIf="data.uid!=userId" >
                
                <div class="backgroundColorLightGreen formatBubbleLeft paddingTop ">  
                <div class="fontBold subHeadingFont colorGrey" *ngIf="data.uid!=userId" >{{data.display_name}},{{data.uid}},{{userId}}</div>
                
                  <div style="white-space:pre-wrap" class="backgroundColorLightGreen formatBubbleLeft paddingTop " [innerHTML] = "'<p>' + data.message + '</p>'"></div>
                </div>
                  <div class="bubbleDateFormat textAlignLeft floatLeft colorGreen subHeadingFont">{{data.ago}}</div>
              </ion-row>
            </div>
            <div  class="paddingTop">
              <ion-row  class="boxAlignRight" style="width:100%;" *ngIf="data.uid==userId">
                  <br>
                  <div  style="white-space:pre-wrap" class="backgroundColorLightGreen formatBubble paddingTop " [innerHTML] = "'<p>' + data.message + '</p>'"></div>
                  <div class="bubbleDateFormat floatRight colorGreen subHeadingFont">{{data.ago}}</div>
              </ion-row>
              </div>            
         </div>
      </ion-list>
  </ion-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar style="background-color: #fff" >
    <ion-row class="InputFormat" >
      <ion-col  col-1 (click)="uploadeImg()">
        &nbsp; <ion-icon name="attach" class="displayOneFont verticalAlign"></ion-icon>
      </ion-col>
      <ion-col col-10>
      <ion-input [(ngModel)]="newMessge" (keyup.enter)="postCopal()" (ngModelChange)="change($event)" placeholder="{{'CHOPAL_ENTER_MESSAGE' | translate }}">
      </ion-input>
      </ion-col>
      <ion-col col-1>
      <ion-icon name="md-send" class="displayOneFont verticalAlign" (click)="postCopal()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
