<ion-header no-border>
<ion-toolbar color="fulldark">
<button ion-button menuToggle>
<ion-icon name="people"></ion-icon>
</button>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="gotoSearchProduct()">
<img src="assets/img/agri bolo icon/hdpi/wallet.png">
</button>
</ion-buttons>
<ion-title>hello Ramesh</ion-title>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/notification.png">
</button>
</ion-buttons>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/Fill 31 + Fill 32 + Fill 33.png">
</button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-scroll scrollX="true" scrollY="true" maxZoom="3" zoom="1" style="height:80%">

<ion-list >
 <ion-grid >
  <ion-row class="chatbox" *ngFor="let data of choupaldata.data;let i=index ">

    <ion-list  *ngIf="data.uid!=userId">
        <div  class="chatbox chatbubbleother">
            <p style="margin:0px" class="username">Finn</p>
            <p style="margin:0px">{{data.message}}</p>
            <p class="time" >{{data.created}}</p>
        </div>
        <div class="timeother" >{{data.created}}ther</div>
    </ion-list>

    <ion-list class="chatbubbleuseralign"  *ngIf="data.uid==userId">
        <div  class="chatbox chatbubbleuser">
            <p style="margin:0px" class="username">Finn</p>
            <p style="margin:0px">{{data.message}}</p>
            <p class="time" >{{data.created}}</p>
        </div>
        <div class="timeuser" >{{data.created}}Baran</div>
    </ion-list>

   
  </ion-row>
 </ion-grid>   
  </ion-list>

</ion-scroll>


    <ion-card>
   
    <ion-row >
      <ion-col col-2>
        <img src="assets/img/agri bolo icon/hdpi/attachment.png"/>
      </ion-col>
      <ion-col col-8>
      <ion-input [(ngModel)]="newMessge" (ngModelChange)="change($event)" placeholder="संदेश यहां दर्ज कर">
      </ion-input>
      </ion-col>
      <ion-col col-2>
      <img  (click)="postCopal()"  src="{{sendIcon}}"/>
      </ion-col>
    </ion-row>
    </ion-card>



</ion-content>
