page-choupal {
.wallet img{
    height: 100%;
  padding: 20%;
  }
  .topTitle{
   
   background-color: #f8f8f8;
  }
  .itemnew{
   width: 82%;
    margin-left: 15%;
  }
  .itemnew1{
   width: 82%;
  }
  .time{
    float: right;
  font-size: 1rem;
}
}