<ion-header no-border>
<ion-toolbar color="fulldark">
<button ion-button menuToggle>
<ion-icon name="people"></ion-icon>
</button>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="gotoSearchProduct()">
<img src="assets/img/agri bolo icon/hdpi/wallet.png">
</button>
</ion-buttons>
<ion-title>{{'CHOPAL' | translate}}</ion-title>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/notification.png">
</button>
</ion-buttons>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/Fill 31 + Fill 32 + Fill 33.png">
</button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-scroll scrollX="true" scrollY="true" maxZoom="3" zoom="1" style="height:90%">



    <ion-list >
          <div  *ngFor="let data of choupaldata.data;let i=index " style=" border-radius: 5px; margin:10px;  ">

          
          <div class=" fullWidth" >
            <ion-row class=" boxAlignLeft " *ngIf="data.uid!=userId" >
              
              <div class="backgroundColorLightGreen formatBubbleLeft paddingTop ">  
              <div class="fontBold subHeadingFont colorGrey" *ngIf="data.uid!=userId" >{{data.display_name}}</div>
                <div style="white-space:pre-wrap" class="backgroundColorLightGreen formatBubbleLeft paddingTop ">{{data.message}}</div>
              </div>
                <div class="bubbleDateFormat textAlignLeft floatLeft colorGreen subHeadingFont">{{data.ago}}</div>
            </ion-row>
          </div>
          



            <div  class="paddingTop">
            <ion-row  class="boxAlignRight" style="width:100%;" *ngIf="data.uid==userId">
                <br>
                <div  style="white-space:pre-wrap" class="backgroundColorLightGreen formatBubble paddingTop ">{{data.message}}</div>    
                <div class="bubbleDateFormat floatRight colorGreen subHeadingFont">{{data.ago}}</div>
            </ion-row>

            
            </div>            
          


        </div>


    </ion-list>



</ion-scroll>


    

    <ion-row class="InputFormat" >
      <ion-col  col-1>
         <ion-icon name="attach"></ion-icon>
      </ion-col>
      <ion-col col-10>
      <ion-input [(ngModel)]="newMessge" (ngModelChange)="change($event)" placeholder="{{'CHOPAL_ENTER_MESSAGE' | translate }}">
      </ion-input>
      </ion-col>
      <ion-col col-1>
      <ion-icon name="md-send"  (click)="postCopal()"></ion-icon>
      </ion-col>
    </ion-row>
    



</ion-content>
