page-forgate-password-mobile-number {
  .main {
    margin-top: 20%;
  }

  .text{
    text-align:center;
    font-size: 30px;

  }
  .text1{
      text-align: center;
      width: 80%;
      font-size: 19px;
      margin: auto;
      color:#5f8b05;
  }
  .textinput{
    width:80%;
    margin-left:20px;
  }
  .lable{
    font-size: 23px;
  }
  .p_button{
    width:100% !important;
    margin:auto;
    color:#5f8b05;
    margin-top:10%;

  }
   .sing{
      text-align: center;
        margin-top: 20px;
        text-align: center;

    }
    .sing1{
        text-align: center;
        width: 80%;
        font-size: 13px;
        margin: auto;
        color: #5f8b05;

    }
  .p_1{
    width: 75%!important;
    margin-left:30px;
    background: #5f8b05;
    height: 41px;
    margin-left: 10%;
    font-size: 15px;
    color: #ffffff;
  }
  .content-md{
   background-color: #ffffff;
  }

}
