page-privacy-hindi {
.pClass{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
  }
  .pContent{
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
