page-productlist {

  .produtimg{
           padding-top: 5px;
          max-height: 102px;
          padding-bottom: 5px;
          height: 90px;
          max-width: 124px;
          margin: auto;
    }
	  .sarsTitle1{
       width: 100%;
       padding-top: 5%;
       font-style: oblique;
       display: inline-block;
      }
      .back{
         text-align: center!important;
          padding-top: 200%;
          font-size: 1.5em;
      }
      .p_button{
      width:100% !important;
      margin:auto;
      color:#5f8b05;
      margin-top:20px;
      padding-bottom: 10px;
      text-align: center;
    }
    .p_1{
         width: 75%!important;
        height: 41px;
        font-size: 15px;
        color: #ffffff;
    }

    ion-slides {
        height: 50% !important;
    }


}
