<!--
  Generated template for the RentalFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'RENTAL_CONTACTS' | translate}}</ion-title>
     <ion-buttons end>
      <button ion-button icon-only class="headericon" (click)="dismiss()">
        <ion-icon ios="ios-close" md="md-close" class="colorGreen paddingRightdisplayOneFont"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment class="themeColor" [(ngModel)]="Crop">
      <ion-segment-button class="themeColor" value="General"
      (click)="get_events('Renta_in')">
        {{'RENTAL_IN' | translate}}
      </ion-segment-button>
      <ion-segment-button value="Rentout"(click)="get_events('Rent_out')">
        {{'RENTAL_OUT' | translate}}
        </ion-segment-button>
    </ion-segment>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="Crop">

    <!---------Generale  Section-------->
      <ion-card  *ngSwitchCase="'General'">
      <form  *ngIf="pageTitle=='onstorageload'" [formGroup]="RentalMarket" (ngSubmit)="filterRentalForm('Rent_in',product_name)">

       <div>
            <div class="smallTitle colorGrey fontBold greySeparator paddingBottom paddingTop alignCente"
            > {{'RENTAL_CONTACTS' | translate}}</div>
        </div>
          <ion-input formControlName="type"  type="hidden" value="rentin"></ion-input>
          <ion-input formControlName="expected_price"  type="hidden" value=""></ion-input>
          <ion-item class="separator colorGrey"  >
              <ion-label class="inpu" stacked> {{'NAME' | translate}}</ion-label>
             <ion-input formControlName="farmer_name"  type="text"></ion-input>
          </ion-item>
          <ion-item class="separator">
            <ion-label class="colorGrey">{{product_name}}{{'PRODUCT_NAME' | translate}}</ion-label>
            <ion-select *ngIf="product_name!=''"  formControlName="product" >
              <ion-option *ngFor="let rental of rentallists" value="{{rental.title}}" >{{rental.title}}</ion-option>
            </ion-select>
            <ion-input  *ngIf="product_name==''" formControlName="product" type="text"></ion-input>
          </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'DATA_FROM' | translate}}</ion-label>
              <ion-datetime formControlName="date_from" displayFormat="DD MMMM YYYY" pickerFormat=" DD MMMM YYYY"  [(ngModel)]="date_from"></ion-datetime>
         </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'DATA_TO' | translate}}</ion-label>
              <ion-datetime formControlName="to_date" displayFormat="DD MMMM YYYY" min="{{date_from}}" pickerFormat=" DD MMMM YYYY"  [(ngModel)]="to_date"></ion-datetime>
         </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'TIME_FROM' | translate}}</ion-label>
              <ion-datetime formControlName="time_from" displayFormat="HH:mm" pickerFormat="HH:mm"  [(ngModel)]="time_from"></ion-datetime>
         </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'TIME_TO' | translate}}</ion-label>
              <ion-datetime formControlName="to_time" displayFormat="HH:mm" pickerFormat="HH:mm"  [(ngModel)]="to_time"></ion-datetime>
         </ion-item>
          <ion-item class="separator colorGrey"  >
              <ion-label> {{'DURATION' | translate}}</ion-label>
            <ion-select formControlName="duration" >
                <ion-option   value="hourly">{{'HOURLY' | translate}}</ion-option>
               <ion-option   value="daily">{{'DAILY' | translate}}</ion-option>
            </ion-select>
          </ion-item>
       <ion-item class="separator">
      <ion-label class="colorGrey">{{'SELECT_LOCTION_STATE' | translate}}</ion-label>
        <ion-select   formControlName="user_state_id" #user_state_id (ionChange)="onStateSelect(user_state_id.value)">
          <ion-option *ngFor="let state of stateList" value={{state.id}}>{{state.state_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator">
        <ion-label class="colorGrey">{{'SELECT_LOCTION_DISTRICT' | translate}}</ion-label>
        <ion-select  formControlName="user_district_id" #user_district_id (ionChange)="onDistrictSelect(user_district_id.value)">
          <ion-option *ngFor="let district of districtList" value={{district.id}}>{{district.district_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator" >
      <ion-label class="colorGrey">{{'SELECT_LOCTION_TEHSIL' | translate}}</ion-label>
        <ion-select   formControlName="user_tahsil_id" >
          <ion-option *ngFor="let tehsil of tehsilList" value={{tehsil.id}}>{{tehsil.tehsil_name}}</ion-option>
        </ion-select>
     </ion-item>
      <ion-item class="separator">
        <ion-label  class="inpu" stacked>{{'ADDRESS'| translate}}</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>
      <div  >
        <div style="float: right;" class="p_1 sarchicon"   (click)="dismiss()" >{{'CANCEL' | translate}}</div>
        <div  style="float: right;margin-right:10px;">
          <button class="p_1" ion-button type="submit" [disabled]="!RentalMarket.valid">{{'SUBMIT' | translate}}</button>
        </div>
      </div>
      </form>
    </ion-card>




    <!---------Rentout  Section-------->
    <ion-card  *ngSwitchCase="'Rentout'">
      <form  *ngIf="pageTitle=='onstorageload'" [formGroup]="RentalMarket" (ngSubmit)="filterRentalForm('Rent_out',product_name)">

       <div>
            <div class="smallTitle colorGrey fontBold greySeparator paddingBottom paddingTop alignCente"
            > {{'RENTAL_CONTACTS' | translate}}</div>
        </div>
          <ion-input formControlName="type"  type="hidden" value="rentout"></ion-input> 
          <ion-item class="separator colorGrey"  >
            <ion-label class="inpu" stacked> {{'NAME' | translate}}</ion-label>
            <ion-input formControlName="farmer_name"  type="text"></ion-input>
          </ion-item>
          <ion-item class="separator">
            <ion-label class="colorGrey">{{product_name}}{{'PRODUCT_NAME' | translate}}</ion-label>
            <ion-select *ngIf="product_name!=''"  formControlName="product" >
              <ion-option *ngFor="let rental of rentallists" value="{{rental.title}}" >{{rental.title}}</ion-option>
            </ion-select>
            <ion-input  *ngIf="product_name==''" formControlName="product" type="text"></ion-input>
          </ion-item>
        <!--   <ion-item class="separator">
          <input type="text" (click)="stopProcess()" (keypress)="onKeyPress($event)" />
          </ion-item> -->
          <ion-item class="separator colorGrey"  >
              <ion-label class="inpu" stacked> {{'EXCEPT_PRICE' | translate}}</ion-label>
             <ion-input formControlName="expected_price"  type="number"></ion-input>
          </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'DATA_FROM' | translate}}</ion-label>
              <ion-datetime formControlName="date_from" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY"  [(ngModel)]="date_from" value=""></ion-datetime>
         </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'DATA_TO' | translate}}</ion-label>
              <ion-datetime formControlName="to_date" displayFormat="DD MMMM YYYY" min="{{to_date}}" pickerFormat="DD MMMM YYYY"  [(ngModel)]="to_date" value=""></ion-datetime>
         </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'TIME_FROM' | translate}}</ion-label>
              <ion-datetime formControlName="time_from" displayFormat="HH:mm" pickerFormat="HH:mm"  [(ngModel)]="time_from" value=""></ion-datetime>
         </ion-item>
         <ion-item  class="separator colorGrey">
           <ion-label> {{'TIME_TO' | translate}}</ion-label>
              <ion-datetime formControlName="to_time" displayFormat="HH:mm" pickerFormat="HH:mm"  [(ngModel)]="to_time" value=""></ion-datetime>
         </ion-item>
          <ion-item class="separator colorGrey"  >
              <ion-label> {{'DURATION' | translate}}</ion-label>
            <ion-select formControlName="duration" >
               <ion-option   value="hourly">{{'HOURLY' | translate}}</ion-option>
               <ion-option   value="daily">{{'DAILY' | translate}}</ion-option>
            </ion-select>
          </ion-item>
       <ion-item class="separator">
      <ion-label class="colorGrey">{{'SELECT_LOCTION_STATE' | translate}}</ion-label>
        <ion-select   formControlName="user_state_id" #user_state_id (ionChange)="onStateSelect(user_state_id.value)">
          <ion-option *ngFor="let state of stateList" value={{state.id}}>{{state.state_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator">
        <ion-label class="colorGrey">{{'SELECT_LOCTION_DISTRICT' | translate}}</ion-label>
        <ion-select  formControlName="user_district_id" #user_district_id (ionChange)="onDistrictSelect(user_district_id.value)">
          <ion-option *ngFor="let district of districtList" value={{district.id}}>{{district.district_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator" >
      <ion-label class="colorGrey">{{'SELECT_LOCTION_TEHSIL' | translate}}</ion-label>
        <ion-select   formControlName="user_tahsil_id" >
          <ion-option *ngFor="let tehsil of tehsilList" value={{tehsil.id}}>{{tehsil.tehsil_name}}</ion-option>
        </ion-select>
     </ion-item>
      <ion-item>
        <ion-label  class="inpu" stacked>{{'ADDRESS'| translate}}</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>
      <div  >
        <div style="float: right;" class="p_1 sarchicon"   (click)="dismiss()" >{{'CANCEL' | translate}}</div>
        <div  style="float: right;margin-right:10px;">
          <button class="p_1" ion-button type="submit" [disabled]="!RentalMarket.valid">{{'SUBMIT' | translate}}</button>
        </div>
      </div>
      </form>
    </ion-card>

  </div>
</ion-content>
