page-askquestion {
.pContent{
  padding-left: 15%;
  padding-right: 5%;
  margin-top: 15px;
  padding-bottom: 2%;
  padding-top: 2%;
}
.title{
  font-size: 2.9rem;
  font-weight: bold;
}
.card{
  border-radius: 5px !important;
  height: 100px;
}
.newbuttom{
	margin-top: 60px;
	background:green;
}
.blocked{
	background:green !important;
}
.secondary1{
	 border-color: #30d05f !important;
    color: #ffffff;
    margin-top: 40px;
	background:green;
}
.text{
    margin-left: 10px;
    margin-top:5px;

}
}
