page-askquestion {
  .sbmtbtn {
      margin: auto;
      text-align: center;
      width: 95%;
      background-color: #649305;
      margin-top: 5%;
      margin-bottom: 5%;
      height: 47px !important;
      font-size: 17px !important;
  }
  .quitionimagebtn {
      margin: auto;
      text-align: center;
      background-color: #649305;
      margin-top: 5%;
      margin-bottom: 5%;
      height: 24px !important;
  }
  .inputborder{
      border-bottom: #dedede 1.3px solid;
      width:95%;
      margin:auto;
  }
  .secondary{
    color: #649305;
    margin-bottom: -4%;
  }
}
