page-agri-info {
.krishisevayen-cardHeader{
            text-align: center;
            font-size: 2.5rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 25px;
      }
      
      .krishisevayen-headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }
       .krishisevayen-title-box {
            position: absolute;
            top:25%;
            left: 5%;
            width:90%;
            
      }
      .krishisevayen-title {
            width:100%;
            color: #fff;
            padding-bottom: 10px;

      }

      .krishisevayen-subtitle {
      width: 100%;
      color: #fff;
      left: 5%;
      }
      .card-title-box {
            position: absolute;
            top:10%;
            left: 5%;
            width:90%;
            
      }
      .card-title {
            width:100%;
            color: #fff;
            

      }

      .card-subtitle {
      width: 100%;
      color: #fff;
      left: 5%;
      }
      .bordercard{
         border: 2px solid !important;

      }


        .image-card {   
      position: relative;
      text-align: left;
      height: 220px;
       margin-left: 0%;
      overflow: hidden;
      }
       .image-card1 {
      position: relative;
      text-align: left;
      height: 220px;
      overflow: hidden;
      }
      .image-card img{
            width: 100%;
      }
      .image-card button{
            border: 2px solid;
            display: block;
            margin:auto;
      }
      .slides{
    display: block!important;
    width: 100%;
    height:42%;
  }
    .videoCard{
            position: relative;
            height: 350px;
      }
      .playIcon{
            position: relative;
            top:-250px;
            margin: 0 auto;
            color:#649305;
            font-size:4.2em;
            height:50px

      }
       .cardHeader{
            text-align: center;
            font-size: 3rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 25px;
      }
      
      .headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }

}
