page-agri-info {
.krishisevayen-cardHeader{
            text-align: center;
            font-size: 2.5rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 25px;
      }
     .krish_Header{
       text-align: center;
            font-size: 2.5rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 8px;
     }
      
      .krishisevayen-headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }
       .krishisevayen-title-box {
            position: absolute;
            top:25%;
            left: 5%;
            width:90%;
            
      }
      .krishisevayen-title {
            width:100%;
            color: #fff;
            padding-bottom: 10px;

      }

      .krishisevayen-subtitle {
      width: 100%;
      color: #fff;
      left: 5%;
      }
      .card-title-box {
            position: absolute;
            top:10%;
            left: 5%;
            width:90%;
            
      }
      .card-title {
            width:100%;
            color: #fff;
            

      }
       .specil_card{
      width: 96% !important;
      height:184px;  
      }
       .specil_card button{
            border: 2px solid;
            display: block;
            margin:auto;
      }
      .specil_image{
      width: 100%!important;
       height: 100%;
      }
       .see-title-box1{
          height: 223px;
            text-align: center;
            padding-top:30% 
      }
       .see-title-box1 button{
            display: block;
            color:#649305;
            margin: auto;
            border: 2px #649305 solid;
            border-radius: 5px;
      }
     
      .margin-top{
        margin-top: 7px;
      }

      .card-subtitle {
      width: 100%;
      color: #fff;
      left: 5%;
      }
      .bordercard{
         border: 2px solid !important;

      }
        .agri-card {   
             position: relative;
             width: 100%!important;
             height: 184px;
            margin-left: 0%;
      }
      .agri_image{
        width: 100%!important;
       height: 100%;
      }
      .agri-card button{
            border: 2px solid;
            display: block;
            margin:auto;
      }

      .slides{
    display: block!important;
    width: 100%;
    height:42%;
  }
    .videoCard{
            position: relative;
            height: 350px;
      }
      .playIcon{
            position: relative;
            top:-250px;
            margin: 0 auto;
            color:#649305;
            font-size:4.2em;
            height:50px

      }
       .cardHeader{
            text-align: center;
            font-size: 3rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 25px;
      }
      
      .headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }
         .image-card img{
            width: 100%;
      }
      .image-card button{
            border: 2px solid;
            display: block;
            margin:auto;
      }
      .see-title-box{
            height: 240px;
            text-align: center;
            padding-top:45% 
      }
      .see-title-box button{
            display: block;
            color:#649305;
            margin: auto;
            border: 2px #649305 solid;
            border-radius: 5px;
      }

}
