page-home {

      .slides{
            height: auto;
      }

      .dialogYellow{
            font-weight: bold;
            font-size: 2rem;
            padding: 2%;
      }
      .fontNormal{
            font-weight: normal;
      }
      .slidImage{
      border: solid;
      color: white;
      border-radius: 4%;
      border-width: 1px;
      width: 100%;
      background: url('/assets/img/fullMakki/drawable-hdpi/page_1.png') no-repeat;
      background-size: cover;
      }
      .slidImage p{
      padding-left: 5%;
      text-align: left;
      font-weight: 600;

      }
      .slideItem{
      width: 50%;

      }
      
      .showAll{
      margin-top: 5%;
      padding: 2%;
      margin-left: 35%;
      margin-right: 35%;
      text-align: center;
      border-radius: 4%;
      color: white;
      background-color: #649305;
      border-width: 1px;
      font-size:1.5rem;
      border-radius: 5px;
      }
      .cardShow h2{
      border: solid;
      border-color: green;
      border-radius: 2%;
      border-width: 1px;
      padding-top: 50%;
      padding-bottom: 50%;
      }
      .full{
      padding: 1%;
      margin-left: 35%;
      margin-right: 35%;
      text-align: center;
      border-radius: 4%;
      border: solid;
      color: white;
      background-color: #649305;
      border-width: 1px;
      }
      .mClass{
      align-content: center;
      text-align:center;
      }
      .dialog{
      color: white;
      background-color: #0cb665;
      font-weight: bold;
      font-size: 2rem;
      padding: 2%;
      }
      .avatar{
      background: url('assets/img/agri bolo icon/hdpi/Oval.png') no-repeat;
      background-size: cover;
      background-color: yellow;
      border-radius: 50%;
      }

      .news-image{
      position: relative;
      width: 100%;
      }
      .news-text{
      position: absolute;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      top:5%;
      color: #ffffff;
      left:10%;
      width:90%;
      }
      .news-title{
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      }
      .pClass{
      text-align: center;
      font-size: 3rem;
      }
      .imageAlign{
            padding-top: 3%;
      }
      .news-date{
      font-size: 12px;
      color: #ffffff;
      text-align: left;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      }

     
      .fabButton{
      margin-bottom: 32%;
      }
      .bulb-icon{
      width: auto;
      height: auto;
      }

      .none{
      display: none;
      }
      .slider {
      display: block;
      }
      

      .pDate{
      font-size: 1.5rem;
      }
      .readMore{
      border-radius: 7%;
      width: 37%;
      text-align: left;
      border: solid;
      color: white;
      padding: 4px;
      margin-left: 29%;
      margin-right: 10%;
      border-color: white;
      border-width: 3px;
      text-align:center

      }
      .colShow{
      width:30%;
      padding: 5px;
      border-radius: 5px;
      margin-left: 30%;
      color:#ffffff;
      background-color:#649305;
      text-align:center;
      margin:auto;
      }

      .videoCard{
            position: relative;
            height: 350px;
      }
      .playIcon{
            position: relative;
            top:-250px;
            margin: 0 auto;
            color:#649305;
            font-size:4.2em;
            height:50px

      }

      /******** Krishi Sevayen Block*********/
      
      .krishisevayen-title-box {
            position: absolute;
            top:25%;
            left: 5%;
            width:90%;
            
      }
      .krishisevayen-title {
            width:100%;
            color: #fff;
            padding-bottom: 10px;

      }

      .krishisevayen-subtitle {
      width: 100%;
      color: #fff;
      left: 5%;
      }

      .krishisevayen-cardHeader{
            text-align: center;
            font-size: 3rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 25px;
      }
      
      .krishisevayen-headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }
 

      /******Product Css*******/
      .slideItem{
      width: 60%;

      }

      .sarsTitle{
      text-align: left;
      padding-left: 4%;
      padding-top: 5%;
      height: 84px;
      }
      .detailSar{
      text-align: center;
      padding-left: 4%;
      padding-bottom: 4%;
      }
      .cardShow h2{
      border: solid;
      border-color: green;
      border-radius: 2%;
      border-width: 1px;
      padding-top: 50%;
      padding-bottom: 50%;
      }
      .produtimage{
      max-height: 120px;
      max-width: 120px;
      margin: auto;
      }

      .gridDesign{
      background-color: #101C00;
      padding: 0px;
      }

      .image-card {
      position: relative;
      text-align: left;
      height: 220px;
      overflow: hidden;
      }
      .image-card img{
            width: 100%;
      }
      .image-card button{
            border: 2px solid;
            display: block;
            margin:auto;
      }
      .see-title-box{
            height: 240px;
            text-align: center;
            padding-top:45% 
      }
      .see-title-box button{
            display: block;
            color:#649305;
            margin: auto;
            border: 2px #649305 solid;
            border-radius: 5px;
      }
      .image-card .button-outline-md-light{
            font-weight: bolder;
            text-shadow: 1px 1px #000000;

      }

      .card-title-box {
            position: absolute;
            top:10%;
            left: 5%;
            width:90%;
            
      }
      .card-title {
            width:100%;
            color: #fff;
            

      }

      .card-subtitle {
      width: 100%;
      color: #fff;
      left: 5%;
      }

      .cardHeader{
            text-align: center;
            font-size: 3rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 25px;
      }
      
      .headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }

      .rotateimage1 {
          animation:spin 500ms linear 2000;
          animation-iteration-count:1;
          animation-fill-mode: forwards;
      }
      @keyframes spin { 
            100% { transform:rotate(180deg); }
      }
      

      .rotateimage2 {
          animation:spin1 500ms linear 2000;
          animation-iteration-count:1;
          animation-fill-mode: forwards;
      }
      @keyframes spin1 { 
            0% { transform:rotate(180deg); }
            100% { transform:rotate(0deg); }
      }


      .toolbarOpen {
            overflow-y: hidden;
            z-index: 5;
            max-height: 100px; /* approximate max height */

            transition-property: all;
            transition-duration: 700ms;
            transition-timing-function: cubic-bezier(0, 1, 4, 1);
      }
      .toolbarClosed {
            max-height: 0;
            overflow-y: hidden;
            transition-property: all;
            transition-duration: 700ms;
            transition-timing-function: cubic-bezier(0, 1, 4, 1);
      }


      .zoomIn {
        animation: zoomIn 2s;
        transition-duration: 4s;
      }
      @keyframes zoomIn {
        from {
          opacity: 0;
          transform: scale3d(.3, .3, .3);
        }

        50% {
          opacity: 1;
        }
      }


      .fadeInLeft {
        animation: fadeInLeft 1s;
        transition-duration: 1s;
      }
      @keyframes fadeInLeft {
        from {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
        }

        to {
          opacity: 1;
          transform: none;
        }
      }
      .opacityGone{
         opacity: 0;   
      }
      .opacityShow{
         opacity: 1;
         transform: none;
      }

      .bar.bar-header.ng-hide,
      .bar.bar-footer.ng-hide{
        height: 0px !important;
      }
      
      .see-title-box-blog{
            height: 209px;
            text-align: center;
            padding-top:31% 
      }
      .see-title-box-blog button{
            display: block;
            color:#649305;
            margin: auto;
            border: 2px #649305 solid;
            border-radius: 5px;
      }
      .topBar{
            animation-name: TopBarAni;
            animation-duration:1ms;
            display: none;

      }
      @keyframes TopBarAni {
            0% {
            display: block;
            opacity: 1;
            }
            100% {
            display: none;
            opacity: 0;
            }
      }


      .showTopBar{
            animation-name: TopBarAniShow;
            animation-duration:500ms;
            display: block;
      }
      @keyframes TopBarAniShow {
            0% {
            display:none;
            }

            100% {
            display:block;
            }
      }

}
