<ion-header no-border>
<ion-toolbar class="headercolor">
<button ion-button menuToggle class="menufontcolor">
<ion-icon name="menu" ></ion-icon>
</button>
<ion-buttons end>
<button ion-button icon-only class="headericon" (click)="gotoSearchProduct()">
<img src="assets/img/agri bolo icon/hdpi/wallet.png">
</button>
</ion-buttons>
<ion-title>hello Ramesh</ion-title>
<ion-buttons end>
<button ion-button icon-only class="headericon" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/notification.png">
</button>
</ion-buttons>
<ion-buttons end>
<button ion-button icon-only class="headericon" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/Fill 31 + Fill 32 + Fill 33.png">
</button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content >
  <div class="main-content">
  <ion-grid  class="gridView gridDesign">
  <ion-row class="gridRow">
    <ion-col class="toolbarCol" (click)="gotoWeatherPage()">
      <img src="assets/img/agri bolo icon/hdpi/Group 39.png">
      मौसम
    </ion-col>
    <ion-col class="toolbarCol" (click)="gotomandiPage()">
      <img src="assets/img/agri bolo icon/hdpi/Group 21.png" >
      मण्डी
    </ion-col>
    <ion-col class="toolbarCol" (click)="gotoservicesPage()">
      <img src="assets/img/agri bolo icon/hdpi/rishi sevna.png">
      कृषि सेवाए
    </ion-col>
    <ion-col class="toolbarCol">
      <img (click)="toggleMenu()" src="assets/img/agri bolo icon/hdpi/Group 37.png">
      कम
    </ion-col>
  </ion-row>
  <ion-row class="gridRow" *ngIf="topMenu" >
    <ion-col class="toolbarCol" (click)="gotoAskquestion()">
      <img src="assets/img/agri bolo icon/hdpi/Group 36.png">
      प्रबंधित
    </ion-col>
    <ion-col class="toolbarCol"(click)="gotoVedio()">
      <img src="assets/img/agri bolo icon/hdpi/Group 35.png" >
      वीडियो
    </ion-col>
    <ion-col class="toolbarCol" (click)="gotoAskquestion()">
      <img src="assets/img/agri bolo icon/hdpi/Group 31.png">
      विशेषज्ञ से पूछें
    </ion-col>
    <ion-col class="toolbarCol">

    </ion-col>
  </ion-row>
  </ion-grid>



<!-----------------Weather section-->
   <ion-grid>
      <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png" />
      </ion-col>
      <ion-col class="pClass">
          मौसम
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="wheaterHome.status==true" (click)="gotoWeatherPage()">
    <ion-row>
      <ion-col col-6 class="colCandigare">
          {{wheaterHome.data.WeatherData[0].DateTime | date:'dd MMMM yyyy HH:mm a'}}
          <div class="main">
              <div class="elementTitle">{{wheaterHome.data.tehsil_name}}</div>
              <p class="weathertitle">{{wheaterHome.data.WeatherData[0].tempratureValue}}˚{{wheaterHome.data.WeatherData[0].tempratureUnit}}</p>
              <div class="elementTitle">{{wheaterHome.data.WeatherData[0].IconPhrase}}</div>
          </div>
      </ion-col>
      <ion-col col-6 class="imageCol">
          <img  src="{{wheaterHome.data.WeatherData[0].WeatherIconsBig}}"/>
      </ion-col>
    </ion-row>
    <ion-grid>

      <ion-row padding-left >
        <ion-col col-2 *ngFor="let data of wheaterHome.data.WeatherData;"  class="day-content">
          <p>{{data.DateTime | date:'HH a'}} </p>
          <img src="{{data.WeatherIconsSmall}}" alt="your image" class="icon">
          <p>{{data.tempratureValue}}˚{{data.tempratureUnit}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
    <ion-row class="weatherfoter">
      <ion-col col-1>
        <img class="bulb-icon" src="assets/img/agri bolo icon/hdpi/idea.png" alt="your image">
      </ion-col>
      <ion-col col-11 class="sources">
      <p  >सुत्र : भारी बारिश से अपनी फसल को बचाने के लिए ऐसा करें</p>
      </ion-col>
    </ion-row>
    </ion-grid>

  </ion-card>
<!----End Weather Section-->

<!----Start Mandi Section-->


  <ion-grid>
    <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="pClass">
          {{ 'MANDI' | translate }}
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card >
    <ion-grid  >
  <ion-row>
    <ion-col col-3 >

      <img src="{{mandidata.crop_image}}" class="grapImage"/>
    </ion-col>
    <ion-col col-9>
      <div>
        <div class="MandiTitle">{{mandidata.commodity_name}}</div>
        
      </div>

      <div class="MandiPrice">₹{{mandidata.max_price}}-{{mandidata.min_price}}</div>
      <ion-row class="MandiUnit">
      <div >प्रति क्विंटल | {{mandidata.arrival_date}}</div>
      </ion-row>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col col-3 class="mandiGrap">
    <p> ₹ प्रति क्विंटल</p>
    <p> 500</p>
    <p> 400</p>
    <p> 300</p>
    <p> 200</p>
    </ion-col>
    <ion-col col-9>
      <img src="assets/img/grapImage.png" class="grapImage"/>
    </ion-col>
  </ion-row>
  <div class="july">
  <ion-row  padding-left class="MandyDay">
    <ion-col>
    13 जुलाई
    </ion-col>
    <ion-col>
      14 जुलाई
    </ion-col>
    <ion-col>
      15 जुलाई
    </ion-col>
    <ion-col>
      16 जुलाई
    </ion-col>
    <ion-col>
      17 जुलाई
    </ion-col>
    <ion-col>
      18 जुलाई
    </ion-col>
  </ion-row>
  </div>
  </ion-grid>
  <ion-grid>
  <ion-row padding-top class="weatherfoter">
    <ion-col col-2>
      <img src="{{mandidata1.crop_image}}" class="grapImage"/>

    </ion-col>
    <ion-col col-4 class="sepRight">
      <div class="SmallerMandiTitle">{{mandidata1.commodity_name}}</div>
      <div class="SmallerMandiPrice">₹{{mandidata1.max_price}}-{{mandidata1.min_price}}</div>
      <div class="SmallerMandiUnit">प्रति क्विंटल</div>
    </ion-col>

    <ion-col col-2>
      <img src="{{mandidata2.crop_image}}" class="grapImage"/>
    </ion-col>
    <ion-col col-4>
      <div class="SmallerMandiTitle">{{mandidata2.commodity_name}}</div>
      <div class="SmallerMandiPrice">₹{{mandidata2.max_price}}-{{mandidata2.min_price}}</div>
      <div class="SmallerMandiUnit">प्रति क्विंटल</div>
    </ion-col>
     <ion-col>
      <p class="colShow" (click)="gotomandiDetail()">और देखें</p>
    </ion-col>
  </ion-row>

  <ion-row>
  </ion-row>

  </ion-grid>
  </ion-card>

  <!---*******
        Experts Section
                        ******-->

  <ion-grid>
    <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="pClass">
          विशेषज्ञ
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
   <ion-slides  [slidesPerView]="'auto'" >
        <ion-slide   *ngFor=" let expert of expertdata.data, let i = index " >
              <ion-card class="image-card"  (click)=" goToExpertDetial(expert.id)" >
                <img src="{{expert.attachments}}" >

                <div class="card-title-box">
                <div class="card-title">  {{expert.title}}</div>
                <div class="card-subtitle">{{expert.date}}</div>
                
                <button ion-button color="light" outline>View more</button>
                </div>
              </ion-card>    

          </ion-slide>
   </ion-slides>

  <ion-grid>
      <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="pClass">
          {{ 'NEWS' | translate }}
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
      <div class="row separator" *ngIf="newsData.status==true" (click)="gotoWebView(newsData.data[0].link)">
      <img  src="{{newsData.data[0].image}}" class="newsLargeImage"/>
      <div padding-top padding-left class="newsLargeTitle">{{newsData.data[0].title}}</div>
      <div padding-left class="newsLargePTI">पीटीआई | अपडेट : {{newsData.data[0].created}}</div>
    </div>
  <ion-grid >
    <ion-row padding-top class="separator" *ngFor=" let news of newsData.data, let i = index "  (click)="gotoWebView(newsData.data[i].link)">
      <ion-col col-3 *ngIf="i > 0 ">
        <img class = "newsSmallImage" src="{{news.image}}" width="200px" />
      </ion-col>
      <ion-col col-9 class="newsSmallBlock" *ngIf="i > 0 ">
        <div >{{news.title}}</div>
        <div class="newsSmallPTI">पीटीआई | अपडेट : Jun 12, 2017, 05:44PM IST</div>
      </ion-col>
    </ion-row>

    <p class="showAll" (click)="gotoNewsPage()">अधिक पढ़ें</p>
  </ion-grid>
  </ion-card>

<!------Start Product Sectoipn---->
 <ion-grid>
      <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="pClass">
          बाजार
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [slidesPerView]="'auto'">
    <ion-slide class="slideItem"  *ngFor="let productData of productHome.data;">
      <ion-card>
        <img class="produtimage" src="{{productData.feature_image}}"/>
        <p class="sarsTitle">{{productData.name}}</p>
        <p class="detailSar"> विनती पर मुल्य</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slideItem "  (click)="gotoMarketPage()">
      <ion-card  class="cardShow productseemore" >
        <h2>Show All</h2>
    </ion-card>

  </ion-slide>
  </ion-slides>

  <!-------END Product Sectopn------>

  <ion-card class="dialog" *ngIf="announceList.status==true">
    <ion-grid >
      <ion-row>
        <ion-col col-3 >
          <ion-thumbnail item-start class="avatar">
         <img src="assets/img/watring_can/drawable-hdpi/watering_can.png" >
         </ion-thumbnail>
            </ion-col>
        <ion-col col-9>
          {{announceList.data[0].title}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="readMore" (click)="gotoAnounsePage()">Show All</p>
  </ion-card>
  <ion-grid>
      <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="pClass">
          वीडियो
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="vedioCard">
  <p padding>Agribolo : Agriculture on the finger tips of Indian farmer</p>
  <img src="https://img.youtube.com/vi/Moin-yDG7Ss/0.jpg" >
  <p class="showAll" (click)="gotoVedio()">Show All</p>
  </ion-card >
  <ion-grid>
      <ion-row>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="pClass">
          कृषि केंद्र
      </ion-col>
      <ion-col class="imageAlign">
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card >
  <img src="https://maps.googleapis.com/maps/api/staticmap?center={{geoLoc.lat}},{{geoLoc.lng}}&zoom=16&size=400x400&markers=color:green%7Clabel:k%7C{{geoLoc.lat}},{{geoLoc.lng}}&key=AIzaSyDyovCt6Vv3pefuZ0JdQC9caXFg3NNf2R0">
  <p>कृषि केंद्र 10 किमी दूर है..</p>
  <!-- <button ion-button small class="button" padding-left padding-right>Small</button> -->
  </ion-card >



  </div>
</ion-content>
