<ion-header no-border>
<ion-toolbar color="fulldark">
<button ion-button menuToggle>
<ion-icon name="people"></ion-icon>
</button>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="gotoSearchProduct()">
<img src="assets/img/agri bolo icon/hdpi/wallet.png">
</button>
</ion-buttons>
<ion-title>hello {{ 'CARDS_TITLE' | translate }} Ramesh</ion-title>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/notification.png">
</button>
</ion-buttons>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/Fill 31 + Fill 32 + Fill 33.png">
</button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content >
  <div class="main-content">
  <ion-grid  class="gridView">
  <ion-row class="gridRow">
    <ion-col class="toolbarCol" (click)="gotoWeatherPage()">
      <img src="assets/img/agri bolo icon/hdpi/Group 39.png">
      मौसम
    </ion-col>
    <ion-col class="toolbarCol" (click)="gotomandiPage()">
      <img src="assets/img/agri bolo icon/hdpi/Group 21.png" >
      मण्डी
    </ion-col>
    <ion-col class="toolbarCol" (click)="gotoservicesPage()">
      <img src="assets/img/agri bolo icon/hdpi/rishi sevna.png">
      कृषि सेवाए
    </ion-col>
    <ion-col class="toolbarCol">
      <img (click)="toggleMenu()" src="assets/img/agri bolo icon/hdpi/Group 37.png">
      कम
    </ion-col>
  </ion-row>
  <ion-row class="gridRow" *ngIf="topMenu" >
    <ion-col class="toolbarCol" (click)="gotoAskquestion()">
      <img src="assets/img/agri bolo icon/hdpi/Group 36.png">
      प्रबंधित
    </ion-col>
    <ion-col class="toolbarCol">
      <img src="assets/img/agri bolo icon/hdpi/Group 35.png" >
      वीडियो
    </ion-col>
    <ion-col class="toolbarCol" (click)="gotoAskquestion()">
      <img src="assets/img/agri bolo icon/hdpi/Group 31.png">
      विशेषज्ञ से पूछें
    </ion-col>
    <ion-col class="toolbarCol">

    </ion-col>
  </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-row>
      <ion-col >
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          मौसम
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="wheaterHome.status==true" (click)="gotoWeather()">
    <ion-grid>
      <ion-row>
        <ion-col col-5 class="colCandigare">
          {{wheaterHome.data.WeatherData[0].DateTime | date:'dd f yyyy HH:mm a'}}
          <div class="main">
            <h3> {{wheaterHome.data.tehsil_name}}, {{wheaterHome.data.state_name}} </h3>
            <p>{{wheaterHome.data.WeatherData[0].tempratureValue}}</p>
            <h3 >{{wheaterHome.data.WeatherData[0].IconPhrase}}</h3>
          </div>
        </ion-col>
        <ion-col col-7 class="imageCol">
        <img  src="{{wheaterHome.data.WeatherData[0].WeatherIconsBig}}"/>

        </ion-col>
      </ion-row>
     </ion-grid>
    <ion-grid>

      <ion-row padding-left >
        <ion-col col-2 *ngFor="let data of wheaterHome.data.WeatherData;"  class="day-content">
          <p>{{data.DateTime | date:'HH a'}} </p>
          <img src="{{data.WeatherIconsSmall}}" alt="your image" class="icon">
          <p>{{data.tempratureValue}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
    <ion-row>
    <ion-col col-1>
      <img class="bulb-icon" src="assets/img/agri bolo icon/hdpi/idea.png" alt="your image">  
    </ion-col>
    <ion-col col-11>
    <p class="sources" >सुत्र : भारी बारिश से अपनी फसल को बचाने के लिए ऐसा करें</p>
    </ion-col>
    </ion-row>
    </ion-grid>
    
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          मण्डी
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card  (click)="gotomandiDetail()">
    <ion-grid>
  <ion-row>
    <ion-col col-3>
      <img src="http://205.147.100.82/agriboloapiv2/backend/{{mandiData.crop_image}}"/>
    </ion-col>
    <ion-col col-6>
      <p padding-left class="MandiTitle">{{mandiData.commodity_name}}</p>
      <h1 padding-left>₹{{mandiData.max_price}}-{{mandiData.min_price}}</h1>
      <p padding-left>प्रति क्विंटल</p>
    </ion-col>
    <ion-col col-3>
      <p>{{mandiData.arrival_date}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3 class="mandiGrap">
    <p> ₹ प्रति क्विंटल</p>
    <p> 500</p>
    <p> 400</p>
    <p> 300</p>
    <p> 200</p>
    </ion-col>
    <ion-col col-9>
      <img src="assets/img/grapImage.png" class="grapImage"/>
    </ion-col>
  </ion-row>
  <div class="july">
  <ion-row  padding-left class="MandyDay">
    <ion-col>
    15 जुलाई
    </ion-col>
    <ion-col>
      15 जुलाई
    </ion-col>
    <ion-col>
      15 जुलाई
    </ion-col>
    <ion-col>
      15 जुलाई
    </ion-col>
    <ion-col>
      15 जुलाई
    </ion-col>
    <ion-col>
      15 जुलाई
    </ion-col>
  </ion-row>
  </div>
  </ion-grid>
  <ion-grid>
  <ion-row padding-top>
    <ion-col col-2>
      <img src="http://205.147.100.82/agriboloapiv2/backend/{{mandiData1.crop_image}}" class="grapImage"/>
    </ion-col>
    <ion-col col-4>
      <p>{{mandiData1.commodity_name}}</p>
      <h3>₹{{mandiData1.max_price}}-{{mandiData1.min_price}}</h3>
      <p >प्रति क्विंटल</p>
    </ion-col>
   
    <ion-col col-2>
      <img src="http://205.147.100.82/agriboloapiv2/backend/{{mandiData2.crop_image}}" class="grapImage"/>
    </ion-col>
    <ion-col col-4>
      <p >{{mandiData2.commodity_name}}</p>
      <h3 >₹{{mandiData2.max_price}}-{{mandiData2.min_price}}</h3>
      <p >प्रति क्विंटल</p>
    </ion-col>
     <ion-col>
      <p class="colShow" (click)="gotomandiPage()">और देखें</p>
    </ion-col>
  </ion-row>

  <ion-row>
  </ion-row>
  
  </ion-grid>
  </ion-card>
  <ion-grid>
      <ion-row>
      <ion-col >
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          विशेषज्ञ
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  

    <ion-slides  [slidesPerView]="auto"  >
        <ion-slide *ngFor=" let news of newsData.data, let i = $index"  style=" background:url({{news.image}})" >
                  <div class="news-image">
                  <img src="{{news.image}}"/>
                  <div class="news-text">
                  <div class="news-title">{{news.title}}</div>
                  <div class="news-date">567-09-09</div>
                  <button ion-button class="white-button"  clear>Dark Clear</button>
                  </div>
                </div>
           
        </ion-slide>
    </ion-slides>
  <ion-grid>
      <ion-row>
      <ion-col >
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          समाचार
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card >
    
      <div *ngIf="newsData.status==true">
      <img  src="{{newsData.data[0].image}}" class="kishan"/>
      <p padding-top padding-left class="panjab">{{newsData.data[0].title}}</p>
      <p padding-left class="pti">पीटीआई | अपडेट : {{newsData.data[0].created}}</p>
    </div>
  <ion-grid >
    <ion-row padding-top *ngFor=" let news of newsData.data, let i = index "  >
      <ion-col col-3 *ngIf="i > 0 ">
        <img src="{{news.image}}" width="200px" />
      </ion-col>
      <ion-col col-9 class="aarunJatliy" *ngIf="i > 0 ">
        <h3 >{{news.title}}</h3>
        <p >पीटीआई | अपडेट : Jun 12, 2017, 05:44PM IST</p>
      </ion-col>
    </ion-row>
    
    <p class="showAll" (click)="gotoNewsPage()">अधिक पढ़ें</p>
  </ion-grid>
  </ion-card>
  <ion-grid>
      <ion-row>
      <ion-col >
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          बाजार
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides (ionSlideDidChange)="gotoslide()" [slidesPerView]="'auto'">
  <ion-slide class="slideItem" (click)="gotoSarsoDetails()">
    <ion-card >
    <img src="assets/img/sarso/drawable-hdpi/mustard_during_pregnancy.png"/>
    <p class="sarsTitle">सरसों</p>
    <p class="detailSar"> विनती पर मुल्य</p>
  </ion-card>
  </ion-slide>
  <ion-slide class="slideItem">
    <ion-card>
    <img src="assets/img/sarso/drawable-hdpi/mustard_during_pregnancy.png"/>
    <p class="sarsTitle">सरसों</p>
    <p class="detailSar"> विनती पर मुल्य</p>
  </ion-card>
  </ion-slide><ion-slide class="slideItem">
    <ion-card>
    <img src="assets/img/sarso/drawable-hdpi/mustard_during_pregnancy.png"/>
    <p class="sarsTitle">सरसों</p>
    <p class="detailSar"> विनती पर मुल्य</p>
  </ion-card>

  </ion-slide>
  <ion-slide class="slideItem" >
    <ion-card  class="cardShow" (click)="gotoCategory()">
      <h2>Show All</h2>
  </ion-card>

  </ion-slide>
  </ion-slides>
  <ion-card class="dialog">
  <ion-grid >
  <ion-row>
    <ion-col col-3 >
      <ion-thumbnail item-start class="avatar">
     <img src="assets/img/watring_can/drawable-hdpi/watering_can.png" >
     </ion-thumbnail>
        </ion-col>
    <ion-col col-9>
      प्रधानमंत्री फसल बीमा योजना
      (पी एम एस बी वाई)
    </ion-col>
  </ion-row>
  </ion-grid>
  <p class="full">Show All</p>
  </ion-card>
  <ion-grid>
      <ion-row>
      <ion-col >
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          वीडियो
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="vedioCard">
  <p padding>विदेशी निवेश,बड़ा नारा भी और बड़ी चिंता भी </p>
  <video width="400" controls>
    <source src="assets/img/The_Chronicles_of_Narnia_Prince.mp4" type="video/mp4">
  </video>
  <p class="full" (click)="gotoVedioPage()">Show All</p>
  </ion-card >
  <ion-grid>
      <ion-row>
      <ion-col >
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
      <ion-col class="mClass">
          कृषि केंद्र
      </ion-col>
      <ion-col>
        <img src="assets/img/line/drawable-hdpi/rectangle_8.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card >
  <img src="https://maps.googleapis.com/maps/api/staticmap?center={{geoLoc.lat}},{{geoLoc.lng}}&zoom=16&size=400x400&markers=color:green%7Clabel:k%7C{{geoLoc.lat}},{{geoLoc.lng}}&key=AIzaSyDyovCt6Vv3pefuZ0JdQC9caXFg3NNf2R0">
  <p>कृषि केंद्र 10 किमी दूर है..</p>
  <!-- <button ion-button small class="button" padding-left padding-right>Small</button> -->
  </ion-card >



  </div>
</ion-content>

