page-home {



      .slidImage{
      border: solid;
      color: white;
      border-radius: 4%;
      border-width: 1px;
      width: 100%;
      background: url('/assets/img/fullMakki/drawable-hdpi/page_1.png') no-repeat;
      background-size: cover;
      }
      .slidImage p{
      padding-left: 5%;
      text-align: left;
      font-weight: 600;

      }
      .slideItem{
      width: 50%;

      }
      .sarsTitle{
      font-weight: bold;
      font-size: 1.9rem;
      text-align: left;
      padding-left: 4%;
      padding-top: 5%;
      color: #000000;
      }
      
      .showAll{
      margin-top: 5%;
      padding: 2%;
      margin-left: 35%;
      margin-right: 35%;
      text-align: center;
      border-radius: 4%;
      border: solid;
      color: white;
      background-color: #649305;
      border-width: 1px;
      font-size:1.5rem;
      }
      .detailSar{
      text-align: left;
      padding-left: 4%;
      padding-bottom: 7%;
      color: #649305;
      }
      .cardShow h2{
      border: solid;
      border-color: green;
      border-radius: 2%;
      border-width: 1px;
      padding-top: 50%;
      padding-bottom: 50%;
      }
      .full{
      padding: 1%;
      margin-left: 35%;
      margin-right: 35%;
      text-align: center;
      border-radius: 4%;
      border: solid;
      color: white;
      background-color: #649305;
      border-width: 1px;
      }
      .mClass{
      align-content: center;
      text-align:center;
      }
      .dialog{
      color: white;
      background-color: #0cb665;
      font-weight: bold;
      font-size: 2rem;
      padding: 2%;
      }
      .avatar{
      background: url('assets/img/agri bolo icon/hdpi/Oval.png') no-repeat;
      background-size: cover;
      background-color: yellow;
      border-radius: 50%;
      }

      .news-image{
      position: relative;
      width: 100%;
      }
      .news-text{
      position: absolute;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      top:5%;
      color: #ffffff;
      left:10%;
      width:90%;
      }
      .news-title{
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      }
      .pClass{
      text-align: center;
      font-size: 3rem;
      }
      .imageAlign{
            padding-top: 3%;
      }
      .news-date{
      font-size: 12px;
      color: #ffffff;
      text-align: left;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

      }

     
      .fabButton{
      margin-bottom: 32%;
      //  padding-bottom: 32%;
      }
      .bulb-icon{
      width: auto;
      height: auto;
      }

      .none{
      display: none;
      }
      .slider {
      display: block;
      }
      

      .pDate{
      font-size: 1.5rem;
      }
      .readMore{
      border-radius: 7%;
      width: 37%;
      text-align: left;
      border: solid;
      color: white;
      padding: 4px;
      margin-left: 29%;
      margin-right: 10%;
      border-color: white;
      border-width: 3px;
      text-align:center

      }
      .colShow{
      width:30%;
      padding: 5px;
      border-radius: 5px;
      margin-left: 30%;
      color:#ffffff;
      background-color:#649305;
      text-align:center;
      margin:auto;
      }



 

      /******Product Css*******/
      .slideItem{
      width: 50%;

      }
      .sarsTitle{
      font-weight: bold;
      font-size: 1.5rem;
      text-align: left;
      padding-left: 4%;
      padding-top: 5%;
      color: #000000;
      text-align: center;
      height: 84px;
      }
      .detailSar{
      text-align: center;
      padding-left: 4%;
      padding-bottom: 7%;
      color: #649305;
      }
      .cardShow h2{
      border: solid;
      border-color: green;
      border-radius: 2%;
      border-width: 1px;
      padding-top: 50%;
      padding-bottom: 50%;
      }
      .produtimage{
      max-height: 120px;
      max-width: 120px;
      margin: auto;
      }

      .gridDesign{
      background-color: #101C00;
      padding: 0px;
      }

  .image-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }



}
