
<ion-header>

  <ion-navbar>
    <button menuToggle="left">
     <ion-icon name="back"></ion-icon>
    </button>
    <ion-title *ngIf="pageTitle=='changepass'" >{{'CHANGE_PASSWORD_TITLE' | translate}}</ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content >

<!---------Change Password------>
<ion-card>
<img class="circle-pic" src="{{profile_picture}}">
      <p class="Name"> <!-- {{userlogin.display_name}} --></p>
     <div class="error" style="color: red">
          {{passresError}}
       </div>
  <form *ngIf="pageTitle=='changepass'" [formGroup]="changepass" (ngSubmit)="changepassform()">
     

        <p class="Name"> <!-- {{userlogin.display_name}} --></p>
       <div>

       <div class="textinput">
      <ion-item class="colorGrey separator">
          <ion-label  floating>{{'ENTER_CURRENT_PASSWORD' | translate}}</ion-label>
          <ion-input formControlName="oldpass"  value="" type="password"></ion-input>
       </ion-item>
       </div>
       <div class="error" *ngIf="passError==true" >
          {{'CURRENT_PASSWORD_ERROR' | translate}}
       </div>

      <ion-item class="colorGrey separator">
          <ion-label  floating>{{'ENTER_NEW_PASSWORD' | translate}}</ion-label>
          <ion-input formControlName="newpass"  value="" type="password"></ion-input>
       </ion-item>
       <div class="error" *ngIf="passError==true" >
          {{'NEW_PASSWORD_ERROR' | translate}}
       </div>

      <ion-item class="colorGrey separator">
          <ion-label  floating>{{'CONFIRM_PASSWORD' | translate}}</ion-label>
          <ion-input formControlName="confirmpass"  value="" type="password"></ion-input>
       </ion-item>
       <div class="error" *ngIf="passConpError==true" >
          {{'CONFIRM_PASSWORD_ERROR' | translate}}
       </div>


      </div>

      <div  class="p_button">
          <button class="p_1" type="submit" >{{'SETTINGS_UPDATE_PROFILE' | translate}}</button>
        </div>

        
  </form>

<!---------Change Profile Data------>
  <form *ngIf="pageTitle=='changeprofile'" [formGroup]="changeprofile" (ngSubmit)="changeprofileform()">
     
        
       <div>

       <ion-item class="separator paddingBottom8px">
          <ion-label  class="inpu" stacked>{{'DISPLAY_NAME' | translate}}</ion-label>
          <ion-input  formControlName="display_name"  placeholder="Display Name" class="colorGrey" ng-required></ion-input>
        </ion-item>
        <ion-item class="separator paddingBottom8px">
          <ion-label>{{'IRRIGATION_TYPE' | translate}}</ion-label>
          <ion-select  formControlName="user_irrigation_type"  ng-required>
            <ion-option value="Flood irrigation">{{'FLOOD_IRRIGATION' | translate}}</ion-option>
            <ion-option value="Surface irrigation">{{'SURFACE_IRRIGATION' | translate}}</ion-option>
            <ion-option value="Sprinkler irrigation"  selected="true" >{{'SPRINKLER_IRRIGATION' | translate}}</ion-option>
            <ion-option value="Drip irrigation">{{'DRIP_IRRIGATION' | translate}}</ion-option>
            <ion-option value="Furrow irrigation" >{{'FURROW_IRRIGATION' | translate}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="separator paddingBottom8px">
          <ion-label>{{'IRRIGATION_SOURCE' | translate}}</ion-label>
          <ion-select  formControlName="user_irrigation_source" >
            <ion-option value="Canal">{{'CANAL' | translate}}</ion-option>
            <ion-option value="Well">{{'WELL' | translate}}</ion-option>
            <ion-option value="Pond">{{'POND' | translate}}</ion-option>
            <ion-option value="River">{{'RIVER' | translate}}</ion-option>
            <ion-option value="Stream">{{'STREAM' | translate}}</ion-option>
            <ion-option value="Tube Well">{{'TUBE_WELL' | translate}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="separator paddingBottom8px">
          <ion-label>{{'LANDHOLDING_SIZE_UNIT' | translate}}</ion-label>
          <ion-select  formControlName="user_landholding_size_unit" >
            <ion-option value="Acre">{{'ACRE' | translate}}</ion-option>
            <ion-option value="Bigha">{{'BIGHA' | translate}}</ion-option>
            <ion-option value="Marba">{{'MARBA' | translate}}</ion-option>
            <ion-option value="Hectare">{{'HECTARE' | translate}}</ion-option>
            <ion-option value="Killa">{{'KILLA' | translate}}</ion-option>
          </ion-select>
        </ion-item>
         <ion-item class="paddingBottom8px separator colorGrey">
            <ion-label  class="inpu" stacked>{{'LANDHOLDING_SIZE' | translate}}</ion-label>
            <ion-input  formControlName="user_landholding_size"  placeholder="Landholding Size" ></ion-input>
          </ion-item>
      </div>

      <div  class="p_button">
          <button class="p_1" type="submit"  [disabled]="!changeprofile.valid">{{'SETTINGS_UPDATE_PROFILE' | translate}}</button>
        </div>
     


        
  </form>

  <form *ngIf="pageTitle=='changelocation'" [formGroup]="changelocation" (ngSubmit)="changelocaltionform()">
      <div>
          <div class="displayOneFont colorGrey fontBold paddingBottom alignCenter"> {{'SELECT_LOCTION' | translate}}</div>
      </div>

      <ion-item class="separator">
      <ion-label class="colorGrey">{{'SELECT_LOCTION_STATE' | translate}}</ion-label>
        <ion-select   formControlName="user_state_id" #user_state_id (ionChange)="onStateSelect(user_state_id.value)">
          <ion-option *ngFor="let state of stateList" value={{state.id}}>{{state.state_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="separator">
      <ion-label class="colorGrey">{{'SELECT_LOCTION_DISTRICT' | translate}}</ion-label>
        <ion-select  formControlName="user_district_id" #user_district_id (ionChange)="onDistrictSelect(user_district_id.value)">
          <ion-option *ngFor="let district of districtList" value={{district.id}}>{{district.district_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item >
      <ion-label class="colorGrey">{{'SELECT_LOCTION_TEHSIL' | translate}}</ion-label>
        <ion-select   formControlName="user_tahsil_id" >
          <ion-option *ngFor="let tehsil of tehsilList" value={{tehsil.id}}>{{tehsil.tehsil_name}}</ion-option>
        </ion-select>
      </ion-item>
      <div  class="p_button">
        <button class="p_1" type="submit"  [disabled]="!changelocation.valid">{{'SETTINGS_UPDATE_PROFILE' | translate}}</button>
      </div>
  </form>
  </ion-card>
</ion-content>
