page-product {
 .krishisevayen-cardHeader{
            text-align: center;
            font-size: 2rem;
            border-bottom: 4px;
            border-bottom: 1px #d8d8d8 solid ;
            height: 25px;
            position: relative;
            margin-bottom: 10px;
      }
      
      .krishisevayen-headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 15px;
            word-wrap: normal;
      }
       .headerClass{
            margin-top:0px;
            background-color:#f3f4f8;
            display: inline-block;
            padding:0px 25px;
            word-wrap: normal;
      }
        .slideItem{
         width: 66%;

      }
      .see-title-box{
           height: 187px;
            text-align: center;
            padding-top:45% 
      }
       .title{
     padding-left: 4% !important; 
      height: 50px;

    }
     .titleone{
         padding-left: 9% !important;
         padding-top: 5%;
         width: 100%;
        text-align: left;
        height: 40px;

    }
      .detailSar{
      text-align: center !important;
      padding-left: 4%;
      padding-bottom: 14px;
      }
  .newcard {
    position: relative !important;
    height: 27%;
    width: 100%;
    margin: 0px;
    padding: 9px;
    margin-top: 10px;
    margin-bottom: 5px;
    }
    .samallcard {
    position: relative !important;
    height: 8%;
    width: 100%;
    margin: 0px;
    }
     .produtimg{
           padding-top: 5px;
          max-height: 102px;
          padding-bottom: 5px;
          height: 90px;
          max-width: 124px;
          margin: auto;
	  } .produtimages{
        max-height: 120px !important;
        padding-top: 5px;
        margin: auto;
      }
	  .sarsTitle1{
       text-align: center;
       width: 100%;
       padding-top: 5%;
       font-style: oblique;
       display: inline-block;
      }
      .arrow_icon{
      	    float: right !important;
           font-size: 3.0rem;
           margin-right: 20px;
      }
      .back{
         background-color: #d5dad5;
      }
       .backnew{
         background-color: #172103;
      }
      .img_slide{
             width: 95% !important;
      }
      .slide_img{
        width: 100% !important;
        max-width: 96%;
        height: 158px;
    }
    
}
