<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
    <ion-title>{{'MARKET_AGRI_INFO' | translate}}</ion-title>
    <ion-buttons end>
       <button ion-button icon-only class="headericon" (click)="gotoOderList()">
          <span *ngIf="OrderCount.status==true" class="cartQuantity">{{OrderCount.data}}</span>
          <ion-icon name="appstore" style="color:#629104;font-size: 25px;"></ion-icon>
       </button>
    </ion-buttons>
    <ion-buttons end>
       <button ion-button icon-only class="headericon" (click)="gotoCartList()">
          <span *ngIf="ChartCount.status==true" class="cartQuantity">{{ChartCount.data}}</span>
          <ion-icon name="cart" style="color:#629104;font-size: 25px;"></ion-icon>
       </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFilter()" class="headericon" >
        <ion-icon name="md-options" class="colorGreen displayOneFont"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="light" mode="md">
    <ion-segment class="backnew"[(ngModel)]="Crop" >      
      <ion-segment-button value="home" (click)="GetParentCatProduct('home','home','','Home')">
        {{'Home' | translate}}
      </ion-segment-button>
       <ion-segment-button *ngFor=" let ParentCat of ParentCats.data, let i = index " value="{{ParentCat.id}}" (click)="GetParentCatProduct(ParentCat.id,'cat','',ParentCat.cat_name)">
          {{ParentCat.cat_name}}
      </ion-segment-button>
    </ion-segment>  
  </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true">
  <div [ngSwitch]="Crop">
    <div *ngIf=" activetabs == 'home' " >
      <div *ngSwitchCase="'home'">
        <ion-slides class="newcard" [slidesPerView]="'1.05'" > 
          <ion-slide *ngFor="let PromoBanner of PromoBanners.data;" class="img_slide" >
              <img class="slide_img" src="{{PromoBanner.image}}" (click)="PromoClick(PromoBanner.type,PromoBanner.type_value)"> 
          </ion-slide>
        </ion-slides>
        <!---*******Krishi Jannkari Section******-->
        <ion-grid>
           <ion-row>
              <ion-col class="krishisevayen-cardHeader">
                 <div class="headerClass">{{'POPULAR' | translate}}</div>
              </ion-col>
           </ion-row>
        </ion-grid>

        <ion-slides [slidesPerView]="'auto'">
           <ion-slide class="slideItem" *ngFor="let productData of PopularProducts.data;" >
              <ion-card (click)="gotoProductViewPage(productData.id,productData.name)">
                <div *ngIf="productData.stock_status=='out_of_stock'" class="outofstocksproduct">
                  <img class="produtimage" style="opacity: 0.5;" src="{{productData.feature_image}}"/>
                  <div class="outofstockerror">{{'OUT_OF_STOCK' | translate}}</div>
                </div>
                <div *ngIf="productData.stock_status!='out_of_stock'" >
                  <img class="produtimage" src="{{productData.feature_image}}"/>
                </div>
                <div class="title colorGrey Headline">{{productData.name}}</div>
                <div class="detailSar colorGreen smallTitle" > 
                    ₹{{productData.unit_price_mrp}}
                </div>
              </ion-card>
           </ion-slide>
        </ion-slides>

        <!-------------Product Group By Cat---------->
        <div *ngFor="let GroupCatProduct of GroupCatProducts.data;" >
           <ion-grid>
             <ion-row>
                <ion-col class="krishisevayen-cardHeader">
                   <div class="headerClass">{{GroupCatProduct.cat_name}}</div>
                </ion-col>
             </ion-row>
          </ion-grid>
          <ion-card style="margin-top: 8px;"  >
            <ion-grid>
              <ion-row >
                <ion-col *ngFor="let data of GroupCatProduct.categorydata, let i = index " col-6  style="padding: 0px" >
                  <ion-card (click)="GetParentCatProduct(GroupCatProduct.id,'cat',data.category_id,data.cat_name)"  *ngIf=" i <= 3 ">
                    <img class="produtimg" src="{{data.feature_image}}"/>
                    <div class="sarsTitle1 colorGrey Headline">{{data.cat_name}}</div>
                  </ion-card>
                  <ion-card (click)="GetParentCatProduct(GroupCatProduct.id,'cat',data.category_id,data.cat_name)"  *ngIf=" i > 3 "  class="{{catshowmore}} card card-md">
                    <style>#{{GroupCatProduct.id}}{display: none;}</style>
                    <img class="produtimg" src="{{data.feature_image}}"/>
                    <div class="sarsTitle1 colorGrey Headline">{{data.cat_name}}</div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-row  >   
              <ion-col col-12 *ngIf="GroupCatProduct.countsubcat <= 4" > 
                <div style="text-align: center;" > 
                  <button ion-button type="submit" (click)="GetParentCatProduct(GroupCatProduct.id,'cat','')">{{'VIEW_MORE_PRODUCTS'| translate}}</button>
                </div>
              </ion-col>   
              <ion-col col-12 class="{{catshowmorepbtn}}"   *ngIf="GroupCatProduct.countsubcat > 4"> 
                <div style="text-align: center;" > 
                  <button ion-button type="submit" (click)="GetParentCatProduct(GroupCatProduct.id,'cat','')">{{'VIEW_MORE_PRODUCTS'| translate}}</button>
                </div>
              </ion-col> 
              <ion-col col-12 class="{{catshowmorebtn}}"   *ngIf="GroupCatProduct.countsubcat > 4"> 
                <div style="text-align: center;" > 
                  <button ion-button type="submit" (click)="showallcat()">{{'SEE_MORE'| translate}}</button>
                </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </div>
    <ion-row *ngIf=" activetabs == 'cat' ">
      <ion-col  *ngFor=" let ChildCatProduct of ChildCatProducts.data, let i = index " col-6  style="padding: 0px">
        <ion-card  (click)="gotoProductViewPage(ChildCatProduct.id)" style="padding: 0px">
          <div *ngIf="ChildCatProduct.stock_status=='out_of_stock'" class="outofstocksproduct">
            <img class="produtimage" style="opacity: 0.5;" src="{{ChildCatProduct.feature_image}}"/>
            <div class="centeredcat">{{'OUT_OF_STOCK' | translate}}</div>
          </div>
          <div *ngIf="ChildCatProduct.stock_status!='out_of_stock'" >
            <img class="produtimage" src="{{ChildCatProduct.feature_image}}"/>
          </div>
          <div class="title colorGrey Headline" style="text-align: center">{{ChildCatProduct.name}}</div>
         <div class="detailSar colorGreen Headline" > 
            ₹{{ChildCatProduct.unit_price_mrp}}
         </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
