<!--
  Generated template for the WeatherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'WEATHER' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="headericon" (click)="openFilter()">
        <ion-icon name="md-options" class="colorGreen displayOneFont"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content" >
  <ion-card *ngIf="resetcard==true">
    <div *ngIf="weatherfiveday.status==true">
      <div class="paddingTop paddingLeft smallTitle"> {{'CURRENTLY_SELECTED_LOCATION' | translate}} <b>{{weatherfiveday.data.tehsil_name}}, {{weatherfiveday.data.state_name}}</b></div>
      <button ion-button clear class="floatRight" (click)="openFilter()">{{'CHANGE_LOCATION' | translate}}</button>
    </div>
  </ion-card>
  <ion-slides  class="mainCard1" parallax="true" #mySlider (ionSlideDidChange)="onSlideChanged()" [slidesPerView]="'1.08'">
  <ion-slide  class="ionslides "  *ngFor="let wheaterdetail of wheaterdetailall.data;">
      <ion-card class="fullCard"  *ngIf="wheaterdetailall.status==true" >
        <ion-row>
          <ion-col col-6 class="colCandigare subHeadingFont"> 
          {{NowTimeT | date:'dd MMMM yyyy hh:mm a'}}
          <div class="main">
          <div class="elementTitle smallTitle"> {{wheaterdetail.tehsil_name}}</div>
          <p class="weathertitle">{{wheaterdetail.WeatherData.Temperature.Value}}˚{{wheaterdetail.WeatherData.Temperature.Unit}} </p>
          <div class="titleFont alignLeft">{{'WEATHER_FILL_LIKES' | translate}} : {{wheaterdetail.WeatherData.RealFeelTemperature.Value}} ˚{{wheaterdetail.WeatherData.RealFeelTemperature.Unit}}</div>

        </div>
          </ion-col>
          <ion-col col-6 class="imageCol">
         <img class="weatherimage" src="{{wheaterdetail.WeatherData.WeatherIconsBig}}"/>
          </ion-col>
        </ion-row>
      
          <div class="grapImage">
            <p>{{'WEATHER_FORECAST' | translate}}</p>
          </div>
          <div style="height:120px">


             <canvas *ngIf="hourlyTmp" baseChart style="width:100%; height: 100%; overflow: hidden; border: none;"
                [datasets]="[{data: hourlyTmp}]"
                [labels]="hours"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
                  
                </canvas>



          </div>
          <ion-grid class="grid">
            <ion-row class="imageAlt">
              <ion-col class="imageline">
                  <img src="assets/img/agri bolo icon/hdpi/air.png" alt=""/>
                  <p class="imagP">SE {{wheaterdetail.WeatherData.windimperial.Value}}{{wheaterdetail.WeatherData.windimperial.Unit}} </p>
                  <p>{{'WEATHER_WIND'| translate}}</p>
              </ion-col>
              <ion-col class="imageline">
                  <img src="assets/img/agri bolo icon/hdpi/mosture.png" alt=""/>
                  <p class="imagP">{{wheaterdetail.WeatherData.RelativeHumidity}}%</p>
                  <p>{{'WEATHER_MOIISTURE'| translate}}</p>
              </ion-col>
              <ion-col>
                  <img src="assets/img/agri bolo icon/hdpi/eye.png" alt=""/>
                  <p class="imagP">{{wheaterdetail.WeatherData.Visibility.Value}}{{wheaterdetail.WeatherData.Visibility.Unit}} </p>
                  <p>{{'WEATHER_VISIBILITY'| translate}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="imageAlt1">
              <ion-col class="imageline">
                  <img src="assets/img/agri bolo icon/hdpi/preshure.png" alt=""/>
                  <p class="imagP">{{wheaterdetail.WeatherData.Pressure.Value}}{{wheaterdetail.WeatherData.Pressure.Unit}}</p>
                  <p>{{'WEATHER_PRESSURE'| translate}}</p>
              </ion-col>
              <ion-col class="imageline">
                  <img src="assets/img/agri bolo icon/hdpi/uv.png" alt=""/>
                  <p class="imagP">{{wheaterdetail.WeatherData.UVIndex}}</p>
                  <p>{{'WEATHER_UV'| translate}}</p>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-row>
            <ion-col col-2 class="bulb">
              <img src="assets/img/agri bolo icon/hdpi/idea.png" alt=""/>
            </ion-col>
            <ion-col class="Pbulb" *ngIf="weatherfiveday.status==true">
              <p >{{'WEATHER_SUTRA' | translate}} :{{weatherfiveday.data.headline.Text}}</p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-slide>
</ion-slides>
<ion-row class="cloud">
  <ion-col  *ngFor="let weatherfivedaydetail of weatherfiveday.data.WeatherData;">
    <ion-datetime displayFormat="DDD" [(ngModel)]="weatherfivedaydetail.Weatherdate"></ion-datetime>
    <img src="{{weatherfivedaydetail.WeatherIconsSmall}}" alt="" class="cloudImage"/>
   <div class=" alignCenter colorBlack" > {{weatherfivedaydetail.IconPhrase}}</div>
  </ion-col>
</ion-row>
</ion-content>
