page-weather {
    .wallet img{
    height: 100%;
    padding: 20%;
    }

    .content{
    background-color: #f3f4f8;
    }
    .ionslides{
    display: block!important;
    width: 100%;
    }
    .main{
    padding-left: 5%;
    padding-right: 5%;

    }
    .main p{
    font-size: 4rem;
    font-weight: bold;
    }
    .mainCard1{
    display: block !important;
    width: 100%;
    height: auto;
    }
    .imageCol{
    padding-left: 5%;
    padding-right: 5%;
    }
    .rectagle{
    margin-left: 10%;
    margin-right: 10%;
    }
    .rectagle img{
    height: auto;
    width: auto;
    text-align: center;

    }
    .recImage{
    float: right;
    }

    .recP{
    padding-top: 10%;

    }
    .Pfeels{
    padding-top: 3%;
    }
    .grapImage p{
    margin-left: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 1.9rem;
    }
    .july{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: auto;

    }
    .MandyDay p{
    font-size: 1.1rem;
    }
    .imageAlt{
    border-bottom: 1px solid;
    border-color: #bcbcbc;
    }
    .imageline{
    border-right:  1px solid #bcbcbc;
    }
    .imageAlt img{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    }
    .imageAlt p{
    padding-top: 5%;
    font-size: 1.1rem;
    text-align: center;
    }
    .imagP{
    font-weight: bold;
    color: #4a4b4c;
    }
    .imageAlt1 img{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    }
    .imageAlt1 p{
    padding-top: 5%;
    font-size: 1.1rem;
    text-align: center;

    }
    .imageAlt1{
    padding-bottom: 5%;
    }

    .grid{
    border-bottom: 1px solid #bcbcbc;
    }
    .bulb{
    height: auto;
    width: auto;
    }
    .Pbulb{
    margin-top: 2%;
    margin-bottom: auto;
    color: #000000;
    }
    .Pbulb p{
    font-size: 1.6rem;
    color: #000000;
    }
    .sutr{
    margin-top: 2%;
    }
    .sutr p{
    color: #000000;
    font-size: 1.6rem;
    }
    // .cloud{
    // margin-bottom: 20%;
    // }
    .cloudImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cloud p{
    text-align: center;
    }
    .weatherimage{
    margin: auto;
    width: 200px;
    }
    .alignLeft{
    text-align: left;
    width:100%;
    float: left;
    word-wrap: normal;
    word-spacing: normal;
    }

    .swiper-container{
        overflow-y: auto !important;
    }
}
