// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.subtabs{
 	font-size: 12px;
}
.displayThreeFont{
	font-size: 4rem;
	//equivalent to 64px
}
.displayOneFont{
	font-size: 2.12rem;
	//equivalent to 34px
}
.titleFont{
	font-size: 1.25rem;
	//equivalent to 20px
}
.smallTitle{
	font-size:1.81rem;
	//equivalent to 29px
}
.Headline{
	font-size:1.5rem;
	//equivalent to 24px
}
.subHeadingFont{
	font-size: 1rem;
	//equivalent to 16px
}
.captionFont{
	font-size: 0.81rem;
	//equivalent to 13px
}

.colorWhite{
	color: white;
}
.colorGrey{
	color:#4A4B4C;
}
.colorBlack{
	color:#000;
}
.colorMagenta{
	color: #5f8b05;
}
.baseColor{
	color: royal;
}
.colorGreen{
	color:#649305;
}

.titleFontSize{
	font-size: 1.8rem;
	color: #4a4b4c;
}

.toolbarCol{
  text-align: center;
  color: white;
  border-right: 1px solid;
  border-top: 1px solid; 
  border-color: #0a1200;
  background-color: #101C00;
}
.toolbarCol img{
  padding-left: 15%;
  padding-right: 15%;

}
.menufontcolor{
	color: white;
	color: #ffffff;
}
.toolbar-title-md{
	color: #ffffff;
}
.toolbar-background, .tabbar{
	background-color:#0a1200;
	background: #101c00 !important;
	color:#FFFFFF;
}

.tabbar,.tabs-md .tab-button-text{
	color: #FFFFFF;
}
.white-button{
	border:2px solid white;
	color: white;
	border-radius: 5px;
}



.headericon{
	height: 60%;
	width: 60%;
	color: royal;
	margin-left: 10px;
}

.card-md{
	padding: 5px;
	border-radius: 10px;
}
/*This is to reduce the empty space between block title and the actual card*/
.card-md-topspacing{
	margin: 0px 10px 20px 10px;
}
.card-md p{
	color:#4A4B4C;
	font-size: 1rem;
}
.main p{
	font-size: 4.8rem;
	font-weight: normal;
}

/*********Weather Card/

/****Add fby islam solnkey**/

.colCandigare{
	padding-top: 3%;
	text-align: center;
}
.main{
	padding-left: 5%;
	padding-right: 5%;

}
/*previously chandigare*/

.elementTitle{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 8%;
	color: #4a4b4c;
}

.mainCard1{
	display: block !important;
	width: 100%;
}
.imageCol{
	padding-left: 5%;
	padding-right: 5%;
	padding-top:5%;
}

.weatherfoter{
	color:#000;
	border-top: 1px solid #D8D8D8;
	padding-top:10px;
}
.separator{
	color:#000;
	border-bottom: 1px solid #D8D8D8;
}
.content-md{
	color: #4A4B4C;
	background-color:#F3F4F8;
}
.grapImage{
	border-radius:8px;
}

/*mandi Cards*/

.MandiTitle{
	font-size: 2.1rem;
	color: #4a4b4c;
	width:100%;
	float:left;
	text-align: left;
	margin-top:-7px;
}
.MandiDate{
	float:right;
}
.MandiPrice{
	font-size: 2.1rem;
	color: #4a4b4c;
	float:left;
	width:70%;
	text-align:left;
}
.MandiUnit{
	font-size: 1rem;
	color: #4a4b4c;
	float:left;
	width:100%;
	margin-top:-2px;
	float:left;
}
.SmallerMandiTitle{
	font-size: 1.2rem;
	color: #4a4b4c;
	width:70%;
	float:left;
}
.SmallerMandiPrice{
	font-size: 1.5rem;
	color: #4a4b4c;
	float:left;
}
.SmallerMandiUnit{
	font-size: 0.8rem;
	color: #4a4b4c;
	float:left;
	width:100%;	
}
.sepRight{
	color:#000;
	border-right: 1px solid #D8D8D8;
	margin-bottom:10px;
}

/*News Block CSS*/

.newsSmallBlock{
	font-size: 1.5rem;
}	
.newsLargeImage{
	margin: auto;
	border: solid;
	border-color: white;
	border-radius: 10px;
	border-width: 1px;
	width: 95%;
	height: fit-content;
	padding-top:5px;
}
.newsLargeTitle{
	font-size: 1.8rem;
	color: #4a4b4c;
	float:left;
	margin-top:-7px;
	line-height:100%
}
.newsLargePTI{
	padding-top: 2%;
	color: grey;
	font-size: 0.8 rem;
	padding-bottom: 5%;
	width: auto;
	margin-left: 1%;
	margin-right: 2%;
}
.newsSmallPTI{
	padding-top: 2%;
	color: grey;
	font-size: 1rem;
	width: auto;
	margin-left: 1%;
	margin-right: 2%;
	color: #5f8b05;
}
.newsSmallPTISep{
	border-bottom: 1px solid;
}
.newsSmallImage{
	margin: auto;
	border: solid;
	border-color: white;
	border-radius: 5px;
	border-width: 1px;
	width: 100%;
	padding-top:5px;
}
.newsDetailDesc{
	padding-top: 2%;
	color: grey;
	font-size: 1.2rem;
	width: auto;
	margin-left: 1%;
	margin-right: 2%;
	padding-bottom: 2%
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}