page-rentals {
.sarsTitle{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 4%;
    padding-top: 5%;
    color: #000000;
  }
  .detailSar{
    text-align: left;
    padding-left: 4%;
    padding-bottom: 7%;
    color: #649305;
  }
  .wallet img{
    height: 100%;
  padding: 20%;
  }
}
