<!--
  Generated template for the RentalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fulldark">
    <ion-title>{{'RENTAL_DETAIL_TITLE' | translate}}</ion-title>
  </ion-navbar>

  <!-- <ion-item>
    <ion-label>{{'SELECT_PRODUCT_CATEGORY' | translate}}</ion-label>
    <ion-select [(ngModel)]="product_cat" multiple="true" (ionChange)="onChange(product_cat)">
      <ion-option *ngFor="let catData of catDatas.data;" value={{catData.term_id}}>{{catData.cat_name}}</ion-option>
    </ion-select>
  </ion-item> -->

</ion-header>
 
<ion-content>
<ion-card class="dialog1"  >
   <ion-grid >
      <ion-row>
         <ion-col col-3 >
            <ion-thumbnail item-start class="avatar">
               <img src="assets/img/for_rental.png" >
            </ion-thumbnail>
         </ion-col>
         <ion-col class="smallTitle1" col-9>
            {{'SEE_NEWTITLE' | translate}}
         </ion-col>
      </ion-row>
   </ion-grid>
   </ion-card>
  <ion-grid >
    <ion-card class="image-card"  *ngFor=" let data of items, let i = index ">
      <div class="row"  >
      <ion-thumbnail item-start class="item_mdimg roundImage fixImage ">
        <img src="{{data.image}}">
      </ion-thumbnail>
        <div class="alignCenter1 paddingTop colorGrey newsLargeTitle" >{{data.title}}
        <button (click)="RentalsPage(data.id,data.title)" ion-button clear style="margin-top: 15px;" class="labelGreen" >{{'SEE_DETAIL' | translate}}</button></div>
        
         <div style="width: 50%">
            <button style="float: left;" ion-button clear class="labelGreen1" 
            (click)="openFilter(data.id,'General')">{{'RENTAL_IN' | translate}}</button>
      </div> 
      <div style="width: 50%">
          <button (click)="mackCall()"  ion-button clear class="labelGreen1">
          <ion-icon name="call" class="displayOne"></ion-icon> {{'SEE_CALL' | translate}}</button>
      </div>
       <!--  <ion-thumbnail item-start>
        <img  src="{{data.image}}" class=" roundImage fixImage"/>
        </ion-thumbnail>
        <div class="alignCenter paddingTop colorGrey newsLargeTitle">{{data.title}}</div>
        <div class="alignCenter">
          <button ion-button clear class="labelGreen">{{'SEE_DETAIL' | translate}}</button>
        </div> -->
      </div>
     

    </ion-card>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{'LOADING_MORE_DATA' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
