page-rentals {
    .sarsTitle{
    text-align: left;
    padding-left: 4%;
    padding-top: 5%;

    }
   .item_mdimg {
    width: 125px !important;
    height: 85px;
}
    .detailSar{
    text-align: center;
    padding-left: 4%;
    padding-bottom: 4%;
    }
    .produtimage{
    max-height: 120px;
    max-width: 120px;
    margin: auto;
    }

    .image-card {
    position: relative !important;
    text-align: center;
    height:auto;

    }
    .image_fix{
        width:100%!important;
       height: 177px;
    }
    .alignCenter1{
    width: 57%;
    margin-top: 10px;

      }
      .newsLargeTitle1{
    font-size: 1.6rem;
    color: #4a4b4c;
    float:left;
    line-height:100%
}

    .wallet img{
    height: 100%;
    padding: 20%;
    }
    .item-select {
    width: 100%; /* Or whatever you'd like the width to be */
    }

    .item-select select {
    left: 0;
    }
    .fixImage{
      max-height: 200px;
     max-width: 100%;
    }
    .labelGreen1{
    color:#649305 !important;
    margin-top:30px;
}
}
  
