page-mandi {
    .wallet img{
    height: 100%;
    padding: 20%;
    }
    .first{
    height: auto;
    width: auto;

    }
    .subClass{
    height: auto;
    width: 80%;
    }
    .subClass{
    height: auto;
    width: 80%;
    }
    .content{
    background-color: #f3f4f8;
    }
    .date{
    font-size: 1.3rem;
    padding: 2%;
    }
    .grapImage{
    margin-top: 20%;
    }
    .MandiTitle{
    font-size: 1.4rem;
    }.pirce{
        font-size: 2.0rem;
    }
    .MandyDay{
    font-size: 1rem;
    text-align: center;
    }
    .july{
      margin: auto;
      width: auto;
    }
}
