<!--
  Generated template for the MarketViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
	    <ion-title class="title fontBold fontShadow">{{ProductViewData.data.name}}</ion-title>
	</ion-navbar>
</ion-header>




<ion-content>
<ion-row *ngIf="ProductViewData.status==true">
	<ion-col col-4>
		<img class="paddingLeft paddingTop" src="{{ProductViewData.data.feature_image}}"/>
	</ion-col>
	<ion-col col-8>
		<div class="smallTitle fontBold paddingTop paddingLeft colorGrey">{{ProductViewData.data.name}}</div>
		<div class="paddingLeft colorGrey"  >
	   		{{ProductViewData.data.brand}}
	   	</div>
	   	<div class="paddingLeft colorGreen" >
	   		{{ProductViewData.data.alldetail._stock_status}}
	   	</div>

	</ion-col>
</ion-row>

<ion-row  justify-content-center>
	   	<div class="paddingTop" >
	   		
	   		<button ion-button >Price on Request</button>
	   	</div>
</ion-row>
<ion-row>
	<div>
		<div class="paddingLeft smallTitle fontBold colorGrey paddingTop">Overview</div>
		<div class="paddingLeft colorGrey separator">
			<div class="smallTitle" >Advantage
			</div>
			<ul *ngIf="ProductViewData.status==true">
				<li *ngFor="let ProductAdvantages of ProductViewData.data.advantages, let i = index " >{{ProductAdvantages.value}}</li>
			</ul>
		</div>
	</div>
</ion-row>
<ion-row *ngIf="ProductViewData.status==true">
	<ion-row >
		<div class="paddingLeft smallTitle fontBold colorGrey paddingTop paddingBottom">Specifications</div>
	</ion-row >
	<ion-row *ngFor="let ProductDetail of ProductViewData.data.alldetail, let i = index " class="fullWidth paddingLeft paddingRight">
		<ion-col col-4 class="marketViewGridTitle">
			{{ProductDetail.key}}
		</ion-col>
		<ion-col col-8 class="marketViewGridContent">
			{{ProductDetail.value}}
		</ion-col>
	</ion-row>
</ion-row>

</ion-content>
