<ion-header>

  <ion-navbar>
    <button ion-button menuToggle class="menufontcolor">
    <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor=" let item of currentItems ">
      <ion-avatar item-start>
        <img [src]="item.img_s" />
      </ion-avatar>
      <h2>{{item.title_s}}</h2>
      <p>{{item.type_s}}</p>
      <!-- <ion-note item-end *ngIf="item.content">{{item.content}}</ion-note> -->
    </button>
  </ion-list>
</ion-content>