page-experts-detail {
 .wallet{
    height: fit-content;
  }
  .pClass{
    padding-left: 5% !important;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .pContent{
  	font-size: 12px;
  	color: #4a4b4c !important;
    padding-left: 5%;
    padding-right: 5%;
  }
  .pContent p{
    font-size: 1.5rem;
    margin:5px;
    font-weight: normal;
    line-height: 1.5;
  }
  .pContent ul{
    font-size: 1.5rem;
    margin:5px;
    font-weight: normal;
    line-height: 1.5;
  }
  .pContent h4{
    font-size: 1.7rem;
    color: #4A4B4C;
  }
  .pContent h5{
    font-size: 1.6rem;
    color: #4A4B4C;
  }
  .block button{
      margin-left: 5%;
      text-align: center;
      width: 90%;
      background-color: #649305;
      margin-top: 10%;
      margin-bottom: 10%;
       height: 46px;
       font-size:16px;

    }.pTitle1{
    margin-left: 20px;
    margin-bottom: 9px;
   }
}
