<!--
  Generated template for the CropdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{cropdetail.name}}</ion-title>
  </ion-navbar>
	<ion-segment class="themeColor" [(ngModel)]="Crop">
		<ion-segment-button class="themeColor" value="General">
		  {{'CROP_DETAIL_GENRAL' | translate}}
		</ion-segment-button>
    <ion-segment-button value="Desease">
		 {{'CROP_DETAIL_DEASEASE' | translate}}
   		</ion-segment-button>
      <ion-segment-button value="Insect">
  		  {{'CROP_DETAIL_INSECT' | translate}}
  		</ion-segment-button>
      <ion-segment-button value="Varities">
        {{'CROP_DETAIL_VERIETIES' | translate}}
      </ion-segment-button>
		<ion-segment-button value="Water">
      {{'CROP_DETAIL_WATER' | translate}}
		</ion-segment-button>
	</ion-segment>
</ion-header>


<ion-content >


	<div [ngSwitch]="Crop">

		<!---------Generale  Section-------->
	    <ion-card  *ngSwitchCase="'General'">
	    	<img class="cropimage" src="{{cropdetail.image}}"/>
		    <div class="allContent" >
			    <div class=" displayOneFont fontBold colorGrey pClass">
			    	{{cropdetail.name}}
			    </div>
			    <div class="titleFont">
			    	({{cropdetail.crop_type}})
			    </div>
				<div  *ngFor="let AllDetails of cropdetail.AllDetail;"  >
					<div class="headline paddingTop fontBold" >{{AllDetails.key}}</div>
					<div class="pContent headline">{{AllDetails.value}}</div>
			</div>
      </div>
	  	</ion-card>


	  	<div *ngSwitchCase="'Desease'">
	  		<ion-row  *ngFor="let Deseas of cropdetail.Desease;">
			<div >
		    	<img class="cropimage paddingTop alignCenter" src="{{Deseas.picture}}"/>
				<div class="paddingLeft" >
					<div>
						<div class="smallTitle fontBold">{{Deseas.desease_name}}</div>
						<div class="headline fontBold paddingTop ">Nature of Damage:</div>
						<div class="headline">{{Deseas.cause_nature_damage}}</div>

						<div class="headline fontBold paddingTop colorGrey">Management:</div>
						<div class="headline paddingBottom colorGrey separator">{{Deseas.management}}</div>
					</div>
				</div>
			</div>
		</ion-row>
	  	</div>



		<div *ngSwitchCase="'Varities'">
	  		<ion-row  *ngFor="let Varity of cropdetail.Varieties;">
			<div >
				<div class="paddingLeft" >
					<div>
						<div class="smallTitle fontBold paddingTop">{{Varity.improved_varieties}}</div>

						<div class="headline fontBold paddingTop ">Avergae Yield</div>
						<div class="headline">{{Varity.average_yield}}</div>

						<div class="headline fontBold paddingTop ">Maturity Period</div>
						<div class="headline">{{Varity.maturity_period}} Days</div>

						<div class="headline fontBold paddingTop ">Characterists</div>
						<div class="headline colorGrey">{{Varity.characteristics}}</div>

						<div class="headline fontBold paddingTop ">Special Features</div>
						<div class="headline paddingBottom separator colorGrey">{{Varity.special_features}}</div>

					</div>
				</div>
			</div>
		</ion-row>
	  	</div>

	  	<div *ngSwitchCase="'Insect'">
	  		<ion-row  *ngFor="let Insects of cropdetail.Insect;">
			<div >
		    	<img class="cropimage paddingTop alignCenter" src="{{Insects.picture}}"/>
				<div class="paddingLeft" >
					<div>
						<div class="smallTitle fontBold">{{Insects.insects_name}}</div>
						<div class="headline fontBold paddingTop ">Nature of Damage:</div>
						<div class="headline">{{Insects.insects_damage}}</div>

						<div class="headline fontBold paddingTop ">Management:</div>
						<div class="headline paddingBottom separator colorGrey">{{Insects.management}}</div>
					</div>
				</div>
			</div>
		</ion-row>
	  	</div>

		<div *ngSwitchCase="'Water'">
	  		<ion-row  *ngFor="let waters of cropdetail.WaterManagement;">
			<div >

				<div class="paddingLeft" >
					<div>
						<div class="headline fontBold paddingTop ">Sowing Time: {{waters.sowing_time}}</div>

						<div class="headline fontBold paddingTop ">Districts: {{waters.districts}}</div>


						<div class="headline paddingTop paddingBottom separator colorGrey">{{waters.water}}</div>
					</div>
				</div>
			</div>
		</ion-row>
	  	</div>


	</div>
</ion-content>
