.page-cropdetail {
 	.cropimage{
    	height: fit-content;
    	margin: auto;
  	}

	
  	.allContent {
	    padding: 5px;
	    padding-top: 10px;
	    line-height: 20%;
	    margin-top: 10px;
	}
	.fontBold {
	    font-weight: bold;
	    font-size: 27px;
	}

	.sarsTitle{
      text-align: left;
      padding-left: 4%;
      padding-top: 5%;
      text-align: left;
      height: 84px;
    }
    .card-md{
    	margin:0px;
    }
    .swiper-slide {
    overflow-y: scroll;
    display: block;
	}
	
}
.pClass{
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
 }
 .pContent p{
	    margin:5px;
	    line-height: 1.5;
 }
 .themeColor{
 	background-color: #101C00;
 }

