page-otp-number {

  .main {
  	margin-top: 40%;
  }
  .text{
  	text-align:center;
  	font-size: 30px;

  }
  .text1{
      text-align: center;
      width: 80%;
      font-size: 19px;
      margin: auto;
      color:#5f8b05;

  }
  .textinput{
  width:80%;
  margin-left:20px;
  }
  .lable{
    font-size: 23px;
  }
  .p_button{
  	width:100% !important;
  	margin:auto;
  	color:#5f8b05;
  	margin-top:10%;

  }
  .p_1{
  	width: 75%!important;
  	margin-left:30px;
      background: #5f8b05;
      height: 41px;
      margin-left: 10%;
      font-size: 15px;
      color: #ffffff;

  }




  .background {
    width: 100%;
    height: 50%;
    bottom: 0px;
    display: block;
    position: absolute;
    background-image: url('/assets/img/pattern.png');
    background-size: auto 55%;
    background-repeat: repeat-x;
    background-position: center 100%;
    -webkit-animation: backgroundScroll 40s linear infinite;
    animation: backgroundScroll 40s linear infinite;
  }
  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 100%;
    }

    to {
      background-position: 400% 100%;
    }
  }
  @keyframes backgroundScroll {
    from {
      background-position: 0 100%;
    }

    to {
      background-position: 400% 100%;
    }
  }
  #grass{
    width: 100%;
    height: 5%;
    background: linear-gradient(0deg, #07a521 90%, #fbfff2 100%);
    position: absolute;
    bottom:0%;
  }
  #sun {
    width:50px;
    height:50px;
    font-size: 300px;
    top:30%;
    left:5%;
    position: relative;

  }

  #sunbg {
    position: absolute;
    background-color: #ffd039;
    margin-left: 18px;
    width: 100%;
    height: 100%;
    top: 10px;
    font-size: 80px;
    z-index: 0;
    border-radius: 50%;
    border: 1px solid #ffd039;
    box-shadow: inset 0px 10px #eab932, inset -9px 11px 1px 1px #eab932;
    -moz-box-shadow: inset 0px 11px #eab932, inset -9px 11px 1px 1px #eab932;
  }
  .shake {
    -webkit-animation-name: shake;
    animation-name: shake
  }
  #radio{
  height: auto;
  width:50px;
  position: absolute;
  top:30%;
  left:50%;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shake 9s infinite linear;
  animation: shake 9s infinite linear;
  background-clip: text;
  text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -moz-animation: shake 9s infinite linear;
  -moz-animation: shake 9s infinite linear;
  }

  @-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0)
  }
  
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0)
  }
}

#tower{
  height:70px;
}
  #tractor {
    width: 300px;
    position: absolute;
    bottom:1%;
    left:70%;
  }
  #fan{
    position: absolute;
    bottom:43%;
    left:-4%;
    -webkit-animation: spin 4s infinite linear;

  }

  @-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
  }



  @keyframes bounce2 {
    0%, 100%, 20%, 53%, 80% {
      -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
      animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }

    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
      animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -8px, 0);
      transform: translate3d(0, -8px, 0)
    }

    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
      animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0)
    }

    90% {
      -webkit-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0)
    }
  }
  .bounce2 {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
  }

  #village{
    background-image: url('/assets/img/group_11.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 45%;
    width: 100%;
    bottom: 0%;
    position: absolute;
  }
}
