page-questionlist {
	.rowQuestion{
    font-weight: bold;
  }
  .ans{
    border-bottom: #dedede 1.3px solid;
    width: 94%;
    margin: auto;
    margin: 7px;
  }

  .block button{
    margin: auto;
    text-align: center;
    width: 87%;
    background-color: #649305;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 47px !important;
    font-size: 17px !important;

  }
.answer{
  color:grey;
}
.subtitles{
  color:#649305;
}
.qtitle{
  margin-top: 0px !important;
}
.item-md p {
  font-size: 1.2rem;
}

}
