page-questionlist {
	 .rowQuestion{
    font-weight: bold;
    padding-top: 5%;
  }
  .ans{
    padding-bottom: 5%;
    border-color: grey;
    border-bottom: 1px solid;
  }
  .block button{
    margin-left: 10%;
    text-align: center;
    width: 80%;
    background-color: #649305;
    margin-top: 10%;
    margin-bottom: 10%;

  }

}
