page-video-detail {
  .row p{
    text-align: center;
    color: white;
    font-size: 1.6rem;
  }
  .mainCard{
    margin-top: 22%;
  }
  .pTitle{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .pContent{
    padding-left: 4%;
  }
  .mainRow img{
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    width: 75%;
    text-align: center;

 }
 .mainRow{
   padding-left: 2%;
 }
 .mainRow h5{
   float: right;
   padding-right: 2%;
   color: green;
 }
 .saddow{
   height: auto;
   width: auto;
   float: left;

 }
 
.imageSadow{
 margin-top: -25%;
 margin-left: 55%;
 padding-right: 7%;
 color: white;
 width: 50%;
 }

 .divText p{
   margin-top: -17%;
   margin-left: 56%;
   padding-right: 7%;
   color: white;
   width: 50%;
 }
 .mainContent{
   margin-bottom: 20%;

}


}
