page-wallet {
.faruk{
	width:100%; 
}
.separator1{
	color:#000;
	padding-bottom:5px;
	border-bottom: 1px solid #D8D8D8;
}
.block1 button{
    margin-left: 10%;
    text-align: center;
    width: 85%;
    height: 40px;
    background-color: #649305;
    margin-top: 25%;
    margin-bottom: 5%;

    }
}
