page-signup {
        .main {
        margin-top: 10%;
        }
        .text{
        text-align:center;
        font-size: 30px;

        }
        .inpu{
        color:#5f8b05!important;

        }
        .text1{
        text-align: center;
        width: 80%;
        font-size: 19px;
        margin: auto;
        color:#5f8b05;

        }
        .p_button{
        width:100% !important;
        margin:auto;
        color:#5f8b05;
        margin-top:20%;

        }
        .p_1{
        width: 75%!important;
        margin-left:30px;
        background: #5f8b05;
        height: 41px;
        margin-left: 10%;
        font-size: 15px;
        color: #ffffff;

        }

        .content-md{
        background-color: #ffffff;
        }

}
