


<ion-content>

   <div class="main" padding>
  <h1 class="text"> {{'SING_UP_VERY_GOOD' | translate}}</h1>
  <p class="text1" >{{'SING_UP_PASSWORD' | translate}}
</p>
</div>
<div>


  <ion-item>
    <ion-label  class="inpu" stacked>{{'SING_UP_USER_NAME'| translate}}</ion-label>
    <ion-input [(ngModel)]="RegisterData.userName" name="userName" value="" type="text" ng-required></ion-input>
  </ion-item>
   <div class="error" *ngIf="UserNameError==true" >
      {{'SING_UP_NAME_REQUIRED' | translate}}
   </div>
  <ion-item>
    <ion-label class="inpu"  stacked>{{'SING_UP_TYPE_PASSWORD'| translate}}</ion-label>
    <ion-input [(ngModel)]="RegisterData.password" name="password" value="" type="password" ng-required></ion-input>
  </ion-item>
    <div class="error" *ngIf="passError==true" >
      {{passErrorMsg}}
   </div>
<ion-item>
    <ion-label class="inpu" stacked>{{'SING_UP_CONF_PASSWORD' | translate}}</ion-label>
    <ion-input  [(ngModel)]="RegisterData.confirmPassword" name="confirmPassword" value="password" type="confirmPassword" ng-required></ion-input>
  </ion-item>
  <div class="error" *ngIf="passConpError==true" >
      {{passErrorMsg}}
   </div>
</div>
<div  class="p_button">
    <button class="p_1" (click)="doSignup()" >{{'SING_UP_GOOD'|translate}} </button>
  </div>
  </ion-content>


  <div class="background">
    <div id="sun">
        <div id="sunbg"></div>
    </div>
    <i class="fa fa-cloud" id="cloud1"></i>
    <i class="fa fa-cloud" id="cloud2"></i>

    <img id="radio" src="assets/img/radio_control.png" />

    <div id="village">
        &nbsp;
    </div>
    <div id="tractor">
        <img src="assets/img/fan.png" class="fa-spin" id="fan"/>
        <img src="assets/img/shape.png" id="tower"/>

    </div>
    <div id="grass">
    </div>
</div>
<!-- <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>


      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" ></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form> -->
