<ion-header>

  <ion-navbar>

<ion-title> {{ 'BACK_BUTTON_TEXT' | translate }} </ion-title>
<ion-buttons end>
      <button ion-button icon-only (click)="openFilter()" class="headericon" >
        <ion-icon name="md-options" class="colorGreen displayOneFont"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>



<ion-content>

  <div *ngIf="expertdata.status">
    <ion-card *ngFor="let data of expertdata.data; let i=index " class="card card-md" (click)="goToExpertDetial(expertdata.data[i].id)">
      <div>
      <img  src="{{data.attachments}}" />
      <div padding-top padding-left class="blogTitile">{{data.title}}</div>
      <div padding-top padding-left>{{data.excerpt}}</div>
      <div padding-left class="newsSmallPTI" >{{ 'PTI_AND_UPDATE' | translate }} : {{data.date}} </div>
       <div class="detailSar colorGreen  margin_left" > 
         <a style="text-decoration: none;">
         {{'SEE_DETAIL' | translate}}
         </a>
        </div>
      </div>
  </ion-card>
  </div>
</ion-content>