<ion-header no-border>
<ion-toolbar color="fulldark">
<button ion-button menuToggle>
<ion-icon name="people"></ion-icon>
</button>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="gotoSearchProduct()">
<img src="assets/img/agri bolo icon/hdpi/wallet.png">
</button>
</ion-buttons>
<ion-title> {{ 'BACK_BUTTON_TEXT' | translate }} Ramesh</ion-title>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/notification.png">
</button>
</ion-buttons>
<ion-buttons end>
<button ion-button icon-only color="royal" (click)="presentPopover($event)">
  <img src="assets/img/agri bolo icon/hdpi/Fill 31 + Fill 32 + Fill 33.png">
</button>
</ion-buttons>
</ion-toolbar>
</ion-header>



<ion-content>

  <div *ngIf="expertdata.status">
    <ion-card *ngFor="let data of expertdata.data; let i=index " class="card card-md" (click)="goToExpertDetial(expertdata.data[i].id)">
      <div>
      <img  src="{{data.attachments}}" />
      <div padding-top padding-left class="blogTitile">{{data.title}}</div>
      <div padding-top padding-left>{{data.excerpt}}</div>
      <div padding-left class="newsSmallPTI" >{{ 'PTI_AND_UPDATE' | translate }} : {{data.date}} </div>
      </div>
  </ion-card>
  </div>
</ion-content>