<!--
  Generated template for the CropsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
<h1 class="title"> कृपया अपनी फसल प्रकार को चुनें</h1>
<ion-row margin>
  <ion-col class="imagc" col-5>
    <img src="assets/img/coffee_beans_2017-10-05/drawable-hdpi/coffee_beans.png"/>

  </ion-col>
  <ion-col></ion-col>
  <ion-col class="nextC" col-5 >
    <img src="assets/img/xmlid_544_2017-10-05/drawable-hdpi/xmlid_544.png"/>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col class="textCol">
    <h2> बीज</h2>
  </ion-col>
    <ion-col col-1></ion-col>
    <ion-col class="textCol">
      <h2>फल</h2>
    </ion-col>
</ion-row>
<ion-row  margin>

    <ion-col *ngFor="let itme of cropList; let i= index " col-4 class="mainClass">
      <input type="checkbox" ng-model="ni_toggle" (ionChange)="updateLocalStorage()" class="checkbox"/>
      <p class="titleName" >{{itme.name}}</p>
    </ion-col>
    <!-- <ion-col *ngFor="let itme of cropList; let i= index " col-4 class="mainClass">
    <ion-item>
    <ion-label>{{itme.name}}</ion-label>
    <ion-checkbox [(ngModel)]="itme.name"></ion-checkbox>
  </ion-item>
</ion-col> -->
</ion-row>
<button ion-button block class="button">ठीक है</button>
</ion-content>
