page-video {
    .imageSadow{
    margin-top: -25%;
    margin-left: 55%;
    padding-right: 7%;
    color: white;
    opacity: 0.5;
    color: white;

    filter: alpha(opacity=50);
    width: 50%;
    }
    .roundImage{
      border-radius: 5px;
    }
    .divText p{
    margin-top: -17%;
    margin-left: 60%;
    padding-right: 7%;
    color: white;
    width: 50%;
    }
    .head{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .http{
    font-size: 14px!important;
    padding:5px;
    color:#4a4b4c;
    }
    .main{
    width:100%!important;
    height: auto;
    }
    .pClass{
    float: right;
    color:#5f8b05;
    margin-right:6hv;
    }
    .hint{
    padding-top: 3%!important;
    }
    .video-thumbnail {
      position: relative;
      display: inline-block;
    }
    ion-toolbar.scrollable-segments {
        ion-segment {
          display: block;
          overflow-x: scroll;
          white-space: nowrap;

          ion-segment-button.segment-button {
            display: inline-block;
            width: auto;
          }
        }
    }


}
