<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'VIDEO' | translate}}</ion-title>
  </ion-navbar>



      <ion-segment  class="themeColor" [(ngModel)]="Crop">
          <ion-segment-button class="themeColor"  value="General" (click)="videoByCat('favourite')">
            {{'VEDIO_FAVOURITE' | translate}}
          </ion-segment-button>
          <ion-segment-button value="Desease" (click)="videoByCat('fertilizers')">
              {{'VEDIO_FERTILIZERS' | translate}}
          </ion-segment-button>
          <ion-segment-button value="Insect"  (click)="videoByCat('pesticide')">
             {{'VEDIO_SEEDS' | translate}}
          </ion-segment-button>
          <ion-segment-button value="Varities" >
            {{'VEDIO_PESTICIDE' | translate}}
          </ion-segment-button>
          <ion-segment-button value="Water"  (click)="videoByCat('seeds')">
            {{'VEDIO_SEEDS' | translate}}
          </ion-segment-button>
      </ion-segment>





</ion-header>


<ion-content overflow-scroll="true">






<ion-grid style="padding: 0px;" *ngFor="let data of videolistData.data; let i=index "  >


 <ion-card *ngIf=" i == 0 " class="card card-md" (click)="gotoWebView(newsData.data[i].link)">
      <div (click)="playVideo(data.videoid)">
      <img src="https://img.youtube.com/vi/{{data.videoid}}/0.jpg" class="roundImage" >

      <ion-row >
      <div padding-top padding-left class="newsLargeTitle">{{data.title}}</div>
      </ion-row>
      <ion-row >
      <div padding-left class="newsSmallPTI" >{{data.date}} </div>
      </ion-row>
    </div>
  </ion-card>
  <ion-card *ngIf=" i > 0 " >
    <ion-row (click)="playVideo(data.videoid)">
        <ion-col col-4>
        <img src="https://img.youtube.com/vi/{{data.videoid}}/0.jpg" class="roundImage" >
        </ion-col>
        <ion-col col-8>
        <h2 class="http">{{data.title}}</h2>
        <p  class="pClass">{{data.date}}</p>
        </ion-col>
   </ion-row>
  </ion-card>
</ion-grid>
</ion-content>
