page-producattype {
.arrow_icon{
      	    float: right !important;
           font-size: 3.0rem;
           margin-right: 20px;
      }
      .produtimg{
           padding-top: 5px;
          max-height: 102px;
          padding-bottom: 5px;
          height: 90px;
          max-width: 124px;
          margin: auto;
    }
	  .sarsTitle1{
       width: 100%;
       padding-left:10px;
       padding-top: 5%;
       font-style: oblique;
       display: inline-block;
      }
      .back{
         background-color: #d5dad5;
      }
      .hader{
      margin-top: 8px!important;
      margin-left: 10px; 
      text-align: center; 
      margin-bottom: 10px;
      }
      .p_button{
      width:100% !important;
      margin:auto;
      color:#5f8b05;
      margin-top:20px;
      padding-bottom: 10px;
      text-align: center;
    }
    .p_1{
         width: 75%!important;
        height: 41px;
        font-size: 15px;
        color: #ffffff;
    }


}
