page-producattype {
.arrow_icon{
      	    float: right !important;
           font-size: 3.0rem;
           margin-right: 20px;
      }
      .produtimg{
           padding-top: 5px;
          max-height: 102px;
          padding-bottom: 5px;
          height: 90px;
          max-width: 124px;
          margin: auto;
    }
	  .sarsTitle1{
       text-align: center;
       width: 100%;
       padding-top: 5%;
       font-style: oblique;
       display: inline-block;
      }
      .back{
         background-color: #d5dad5;
      }

}
